@import "../../../etc/scss/functions";

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 2000px,
);

@import "../../../etc/scss/variables";

@each $key, $value in $blues {
  .bg-#{$key} {
    background-color: $value !important;
  }

  .text-#{$key} {
    color: $value !important;
  }
}

@each $key, $value in $purples {
  .bg-#{$key} {
    background-color: $value !important;
  }

  .text-#{$key} {
    color: $value !important;
  }
}

@each $key, $value in $indigos {
  .bg-#{$key} {
    background-color: $value !important;
  }

  .text-#{$key} {
    color: $value !important;
  }
}

@each $key, $value in $pinks {
  .bg-#{$key} {
    background-color: $value !important;
  }

  .text-#{$key} {
    color: $value !important;
  }
}

@each $key, $value in $reds {
  .bg-#{$key} {
    background-color: $value !important;
  }

  .text-#{$key} {
    color: $value !important;
  }
}

@each $key, $value in $oranges {
  .bg-#{$key} {
    background-color: $value !important;
  }

  .text-#{$key} {
    color: $value !important;
  }
}

@each $key, $value in $yellows {
  .bg-#{$key} {
    background-color: $value !important;
  }

  .text-#{$key} {
    color: $value !important;
  }
}

@each $key, $value in $greens {
  .bg-#{$key} {
    background-color: $value !important;
  }

  .text-#{$key} {
    color: $value !important;
  }
}

@each $key, $value in $teals {
  .bg-#{$key} {
    background-color: $value !important;
  }

  .text-#{$key} {
    color: $value !important;
  }
}

@each $key, $value in $cyans {
  .bg-#{$key} {
    background-color: $value !important;
  }

  .text-#{$key} {
    color: $value !important;
  }
}

@each $key, $value in $grays {
  .bg-gray-#{$key} {
    background-color: $value !important;
  }

  .text-gray-#{$key} {
    color: $value !important;
  }
}

.card.animated {
  position: relative;
  animation: card-load 0.3s ease-out;
}

body {
  // font-family: 'Noto Sans KR', sans-serif;
  font-family: "Open Sans", sans-serif;
  color: $gray-900;
}

.body-font {
  font-family: "Open Sans", sans-serif;
  color: black;
}

.KR-font {
  font-family: 'Noto Sans KR', sans-serif;
  color: black;
}

.emphasis-font {
  font-family: "Anton", sans-serif;
  color: black;
  margin: 0;
}

@keyframes card-load {
  from {
    top: -10px;
    right: -10px;
    opacity: 0;
  }
  to {
    top: 0;
    right: 0;
    opacity: 1;
  }
}

.card-body {
  border-radius: 8px;
}

.card-img {
  height: 270px;
  width: auto;
  object-fit: cover;
  overflow: hidden;
  z-index: 0;
  border-radius: 8px;
  background-color: $gray-100;
}

.card-img-preview {
  height: auto;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
  z-index: 0;
  border-radius: 8px;
  background-color: $blue-100;
}

.post-img-update {
  height: 100px;
  object-fit: cover;
  overflow: hidden;
  z-index: 0;
  border-radius: 8px;
  background-color: $blue-100;
  margin-top: 4px;
  margin-bottom: 2px;
}

.card-img-select {
  height: 3.5em;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
  z-index: 0;
  border-radius: 8px;
  background-color: $blue-100;
}

.user-image-small {
  object-fit: cover;
  height: 40px;
  width: 40px;
  overflow: hidden;
  z-index: 0;
  border-radius: 8px;
}

.card-title-select {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-img.addition {
  position: absolute;
  height: 70px;
  width: 70px;
  left: calc(50% - 35px);
  top: 100px;
  z-index: 1;
  background-color: transparent;
}

.card-text-size {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1em;
  line-height: 1.125em;
  height: 1.18em;
}

.card-title-size {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.3em;
  line-height: 1.4em;
  height: 1.35em;
}

.modal .color-element {
  height: 1.5em;
  margin: 0.1em;
}

.article-title {
  color: #444444;
}

a {
  text-decoration: none;
}

a.article-title:hover {
  color: #428bca;
}

.article-content {
  white-space: pre-line;
}

.article-metadata {
  padding-bottom: 2px;
  margin-bottom: 4px;
  border-bottom: 1px solid $blue-200;
}

.article-metadata a:hover {
  color: #333;
}

.post-list-image {
  object-fit: cover;
  width: 100%;
  height: 125px;
  overflow: hidden;
  border-radius: 8px;
}

#divider-bar {
  margin-top: 2px;
  margin-bottom: 2px;
  width: 100%;
  height: 4px;
  background-color: black;
}

#divider-bar-narrower {
  margin-top: 0px;
  margin-bottom: 0px;
  width: 100%;
  height: 0.75px;
  background-color: $gray-200;
}

main::after {
  display: block;
  content: "";
  height: 10px;
}

.pub-icon-style {
  margin-top:-4px;
  margin-right:-4px;
}

.dropdown-menu > a:hover {
  background-image: none;
  background-color: $blue-100;
}

.modal-body {
  margin: 0;
  padding: 0;
}

pre {
    white-space: pre-wrap;
}