{% load static %}
<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta property="og:title" content="IssueTracker - organize your issues">
  <meta property="og:description" content="track and search issues effectively">
  <!-- <meta id="meta_og_image" property="og:image" content="{% static 'board/thumbnail_issuetracker.jpg' %}"> -->
  <meta id="meta_og_image" property="og:image" content="https://issuetracker.info/media/uploaded/ppost_imgsr/7670393_20210930_190337.jpg" data-isomorphic-meta="true">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Anton&family=Open+Sans&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Secular+One&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'bs5/bootstrap.css' %}">
  <link rel="stylesheet" href="{% static 'board/style.css' %}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
  {% block style %}{% endblock style %}
  <script src="{% static 'bs5/bootstrap.bundle.js' %}"></script>
  <link rel="icon" href="{% static 'board/IssueTracker_Logo.png' %}">
  <title>IssueTracker</title>
</head>
<body class="d-flex flex-column h-100" onload="init()">
  <!-- note below django template language in class -->
  <nav class="navbar navbar-expand-lg {% if user.is_in_private_mode %}navbar-dark bg-dark{% else %}navbar-light bg-gray-400{% endif %} m-0 py-1">
    <div class="container-fluid m-0 p-0 px-1">
      <div class="navbar-brand">
        <a href="{% url 'main' %}" style="color: inherit;">
          <span><small><b>IssueTracker</b><i>-beta</i></small></span>
        </a>
        {% if user.is_in_private_mode %}
        <span class="ms-1 fw-bold fs-6 text-danger">private</span>
        {% endif %}
        {% if user.is_public_card_manager %}
        <span id="mainbase_alert_area_rep" class="fw-bold fs-6 text-danger"></span>
        <span id="mainbase_alert_area_exp" class="fw-bold fs-6 text-danger"></span>
        {% endif %}
      </div>
      <button id="navbar-toggle-button" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggle">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarToggle">
        <!-- Navbar Left Side -->
        <div class="navbar-nav me-auto">
        </div>
        <!-- Navbar Right Side -->
        <div class="navbar-nav">
          <hr class="my-1 p-0" style="color:white;">
          {% if user.is_authenticated %}
          <div class="p-0 m-0 d-flex align-items-center">
            {% if user.is_in_private_mode %}
            <a href="{% url 'user-mode-change' %}" class="nav-item fw-bold btn btn-outline bg-yellow-500 btn-sm">public cards</a>
            {% else %}
            <a href="{% url 'user-mode-change' %}" class="nav-item btn btn-primary btn-sm">{{ user.username }} - my cards</a>
            {% endif %}
          </div>
          {% endif %}
          <div class="nav-item nav-link ms-2"> 
            <a class="nav-item me-3" href="{% url 'main' %}" style="color:inherit;"><i class="nav-item bi bi-grid" width="22" height="22"></i><span class="nav-item small"> cards</span></a>
            <a class="nav-item" href="{% url 'card-list' %}" style="color:inherit;"><i class="nav-item bi bi-list-ul" width="22" height="22"></i><span class="nav-item small"> list</span></a>
          </div>
          {% if user.is_authenticated %}
          <form class="nav-item nav-link ms-2" id="logout-form" method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <i class="nav-item bi bi-box-arrow-up" width="22" height="22"></i>
            <button type="submit" class="nav-item small m-0 p-0" style="border:none; background:none; color:inherit"> logout</button>
          </form>
          {% else %}
          <a class="nav-item nav-link ms-2" href="{% url 'login' %}?next={{request.path}}"><i class="nav-item bi bi-box-arrow-in-down" width="22" height="22"></i><span class="nav-item small"> login</span></a>
          {% endif %}
          <li class="dropdown">
            <a href class="nav-item nav-link dropdown-toggle ms-2" data-bs-toggle="dropdown">
              <i class="nav-item bi bi-intersect" width="22" height="22"></i>
              <span class="nav-item small"> more</span>
            </a>
            <!-- note below django template language in class -->
            <div class="dropdown-menu {% if user.is_in_private_mode %}navbar-dark bg-gray-800 dropdown-menu-dark{% else %}navbar-light bg-gray-300{% endif %}">
              <ul class="dropdown-item nav-item nav-link m-0 p-2 ps-3"><a class="nav-item" style="color:inherit" href="{% url 'card-create' %}"><i class="nav-item bi bi-textarea-resize" width="24" height="24"></i><span class="nav-item small"> new card</span></a></ul>
              <ul class="dropdown-item nav-item nav-link m-0 p-2 ps-3"><a class="nav-item" style="color:inherit" href="{% url 'card-select' %}"><i class="nav-item bi bi-pencil-square" width="24" height="24"></i><span class="nav-item small"> new post</span></a></ul>
              {% if user.is_authenticated %}
              <ul class="dropdown-item nav-item nav-link m-0 p-2 ps-3"><a class="nav-item" style="color:inherit" href="{% url 'profile' %}"><i class="nav-item bi bi-person-lines-fill" width="24" height="24"></i><span class="nav-item small"> profile</span></a></ul>
              <ul class="dropdown-item nav-item nav-link m-0 p-2 ps-3"><a class="nav-item" style="color:inherit" href="{% url 'mylikes' %}"><i class="nav-item bi bi-shift" width="24" height="24"></i><span class="nav-item small"> my likes</span></a></ul>
              {% else %}
              <ul class="dropdown-item nav-item nav-link m-0 p-2 ps-3"><a class="nav-item" style="color:inherit" href="{% url 'register' %}"><i class="nav-item bi bi-person-plus-fill" width="24" height="24"></i><span class="nav-item small"> register</span></a></ul>
              {% endif %}
              <ul class="dropdown-item nav-item nav-link m-0 p-2 ps-3"><a class="nav-item" style="color:inherit" href="{% url 'search' %}"><i class="nav-item bi bi-search" width="24" height="24"></i><span class="nav-item small"> search</span></a></ul>
            </div>
          </li>
          {% if user.is_authenticated and user.is_public_card_manager %}
          <li class="dropdown">
            <a href class="nav-item nav-link dropdown-toggle ms-2" data-bs-toggle="dropdown">
              <i class="nav-item bi bi-nut" width="22" height="22"></i> 
              <span class="nav-item small"> admin</span>
            </a>
            <!-- note below django template language in class -->
            <div class="dropdown-menu {% if user.is_in_private_mode %}navbar-dark bg-gray-800 dropdown-menu-dark{% else %}navbar-light bg-gray-300{% endif %}">
              <ul class="dropdown-item nav-item nav-link m-0 p-2 ps-3"><a class="nav-item" style="color:inherit" href="{% url 'reports' %}"><span class="nav-item small" id="mainbase_rep_count">reports</span></a></ul>
              <ul class="dropdown-item nav-item nav-link m-0 p-2 ps-3"><a class="nav-item" style="color:inherit" href="{% url 'exceptions' %}"><span class="nav-item small" id="mainbase_exp_count">exceptions</span></a></ul>
            </div>
          </li>
          {% endif %}
          <form action='' class="d-flex" method="POST" autocomplete="off" onsubmit="inline_search(event)">
            {% csrf_token %}
            <input type='hidden' name="path" value="{{ request.path }}">
            <input class="nav-item form-control mt-1 mb-1" name="search_term" id="inline_search_form" type="text" placeholder="search...">
          </form>
        </div>
      </div>
    </div>
  </nav>
  
  <main role="main" class="my-1">
    <div class="container-fluid m-0 p-0">
      {% if messages %}
      {% for message in messages %}
      <div class="alert alert-{{ message.tags }} m-1 p-2">
        {{ message }}
      </div>
      {% endfor %}
      {% endif %} 
      {% block search_form %}{% endblock search_form %}
      <div id="search_card_res" class="bg-gray-100 mx-0 my-2"></div>
      <div id="search_post_res" class="bg-gray-100 mx-0 my-2"></div>
      <div id="search_taggedpost_res" class="bg-gray-100 mx-0 my-2"></div>
      <div id="search_tag_res" class="bg-gray-100 mx-0 my-2"></div>
      <div id="search_author_res" class="bg-gray-100 mx-0 my-2"></div>
      <div id="search_no_result" style="display:none;" class="bg-gray-100 m-1 text-muted">no search result...</div>
      <div id="search_clear_button" style="display:none;" class="">
        <div class="d-flex justify-content-end"><div class="btn btn-outline-secondary btn-sm p-1 me-1 mb-1" onclick="clear_search()">clear search result</div></div>
        <hr class="m-0 mx-1 p-0">
      </div>
    </div>
    {% block content %}{% endblock content %}
  </main>
  <footer class="footer mt-auto bg-gray-800 text-light">
    <div class="container-fluid m-0 p-1">
      <span>
        <span class="mx-1">{{user.username}}</span>
        {% if user.is_authenticated %}
        <span class="mx-1 emphasis-font text-danger">IssueTracker CITIZEN</span>
        {% endif %}
        {% if user.is_VIP %}
        <span class="mx-1 emphasis-font text-danger">VIP</span>
        {% endif %}
        {% if user.is_public_card_manager %}
        <span class="mx-1 emphasis-font text-danger">PUBLIC CARD MANAGER</span>
        {% endif %}
        {% if user.is_superuser %}
        <span class="mx-1 emphasis-font text-danger">SUPERUSER</span>
        {% endif %}
        {% if user.is_staff %}
        <span class="mx-1 emphasis-font text-danger">STAFF</span>
        {% endif %}
      </span>
      <span class="float-end mx-1"><a href="{% url 'about' %}" style="text-decoration: none; color: white;">contact</a></span>
    </div>
  </footer>
  <script type="text/javascript" src="{% static 'board/main.js' %}"></script>   
  
  <script>
    function clear_search(){
      document.getElementById("search_card_res").innerHTML="";
      document.getElementById("search_post_res").innerHTML="";
      document.getElementById("search_taggedpost_res").innerHTML="";
      document.getElementById("search_tag_res").innerHTML="";
      document.getElementById("search_author_res").innerHTML=""; 
      document.getElementById("search_no_result").style.display = 'none';
      document.getElementById("search_clear_button").style.display = 'none';
    }
    
    function inline_search(e) {
      e.preventDefault();
      clear_search();
      sform = document.getElementById("inline_search_form")
      if (sform.value == "") {
        sform.focus();
        return;
      }
      var _opened = document.getElementById("navbarToggle").classList.contains("show");
      if (_opened) {
        document.getElementById("navbar-toggle-button").click();
      }
      let formData = new FormData(e.target);
      e.target.reset();
      search_request(formData);
    }
    
    function search_request(formData) {
      let request = new XMLHttpRequest();
      request.open("POST", "{% url 'search-path' %}", true);
      request.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
      request.onreadystatechange = function() {
        if(this.readyState === 4 && this.status === 200) {
          url_name = JSON.parse(this.responseText).url_name;
          if (url_name == 'card-content') {
            document.getElementById("search_no_result").style.display = 'block';
            document.getElementById("search_clear_button").style.display = 'block';
            cid = JSON.parse(this.responseText).cid;
            search_post('post', formData.get('search_term'), cid);
            search_post('taggedpost', formData.get('search_term'), cid);
            search_post('tag', formData.get('search_term'), cid);
            search_author(formData.get('search_term'), cid); 
          } else if (url_name == 'main' || url_name == 'card-list') {
            document.getElementById("search_no_result").style.display = 'block';
            document.getElementById("search_clear_button").style.display = 'block';
            search_card(formData.get('search_term')); 
            search_post('post', formData.get('search_term'), '');
            search_post('taggedpost', formData.get('search_term'), '');
            search_post('tag', formData.get('search_term'), '');
            search_author(formData.get('search_term'), ''); 
          } else {
            search_all(formData.get('search_term')); 
          }
        };
      }; 
      request.send(formData);
    }
    
    function search_all(search_term) {
      param = "?search_term=" + encodeURIComponent(search_term);
      window.location.href="{% url 'search' %}"+param;
    }
    
    function search_card(search_term, page = null) {
      param = "?search_term=" + encodeURIComponent(search_term);
      if (page != null) {
        param += "&page="+page; 
      }
      let request = new XMLHttpRequest();
      request.open("GET", "{% url 'search-card' %}"+param, true);
      request.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
      request.onreadystatechange = function() {
        if(this.readyState === 4 && this.status === 200) {
          count = JSON.parse(this.responseText).count;
          if (count > 0) {
            document.getElementById("search_card_res").innerHTML = JSON.parse(this.responseText).res;
            document.getElementById("search_no_result").style.display = 'none';
          };
        };
      }; 
      request.send();
    }
    
    function search_post(search_model, search_term, cid = '', page = null) {
      param = "?search_model=" + search_model + "&search_term=" + encodeURIComponent(search_term);
      if (cid != '') {
        param += "&cid="+encodeURIComponent(cid);
      }
      if (page != null) {
        param += "&page="+page; 
      }
      let request = new XMLHttpRequest();
      request.open("GET", "{% url 'search-post' %}"+param, true);
      request.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
      request.onreadystatechange = function() {
        if(this.readyState === 4 && this.status === 200) {
          count = JSON.parse(this.responseText).count;
          if (count > 0) {
            document.getElementById("search_"+search_model+"_res").innerHTML = JSON.parse(this.responseText).res;
            document.getElementById("search_no_result").style.display = 'none';
          };
        };
      }; 
      request.send();
    }
    
    function search_author(search_term, cid='', page = null) {
      param = "?search_term=" + encodeURIComponent(search_term);
      if (cid != '') {
        param += "&cid="+encodeURIComponent(cid);
      }
      if (page != null) {
        param += "&page="+page; 
      }
      let request = new XMLHttpRequest();
      request.open("GET", "{% url 'search-author' %}"+param, true);
      request.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
      request.onreadystatechange = function() {
        if(this.readyState === 4 && this.status === 200) {
          count = JSON.parse(this.responseText).count;
          if (count > 0) {
            document.getElementById("search_author_res").innerHTML = JSON.parse(this.responseText).res;
            document.getElementById("search_no_result").style.display = 'none';
          };
        };
      }; 
      request.send();
    }
  </script>
  
  {% if user.is_authenticated and user.is_public_card_manager %}
  <script>
    function add_report_count() {
      let request = new XMLHttpRequest();
      request.open("GET", "{% url 'report-counter' %}?request_type=count", true);
      request.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
      request.onreadystatechange = function() {
        if(this.readyState === 4 && this.status === 200) {
          let count = JSON.parse(this.responseText).report_count;
          if (count >0) {
            document.getElementById("mainbase_rep_count").innerText = "reports ("+count+")";
            document.getElementById("mainbase_alert_area_rep").innerText = "REP";
          }
        }
      };
      request.send();
    }
    function add_exception_count() {
      let request = new XMLHttpRequest();
      request.open("GET", "{% url 'exception-counter' %}?request_type=count", true);
      request.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
      request.onreadystatechange = function() {
        if(this.readyState === 4 && this.status === 200) {
          let count = JSON.parse(this.responseText).exception_count;
          if (count >0) {
            document.getElementById("mainbase_exp_count").innerText = "exceptions ("+count+")";
            document.getElementById("mainbase_alert_area_exp").innerText = "EXP";
          }
        }
      };
      request.send();
    }
    add_report_count();
    add_exception_count();
    
  </script>
  {% endif %} 
  {% block script %}{% endblock script %}
  
</body> 
</html>