{% load static %}
<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta property="og:title" content="IssueTracker - organize your issues">
  <meta property="og:description" content="track and search issues effectively">
  <meta property="og:image" content="{% static 'board/thumbnail_issuetracker.jpg' %}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Anton&family=Open+Sans&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Secular+One&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'bs5/bootstrap.css' %}">
  <link rel="stylesheet" href="{% static 'board/style.css' %}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
  <script src="{% static 'bs5/bootstrap.js' %}"></script>
  <link rel="icon" href="{% static 'board/IssueTracker_Logo.png' %}">
  <title>IssueTracker</title>
</head>
<body class="d-flex flex-column h-100" onload="init()">
  <nav class="navbar navbar-expand-lg navbar-light bg-blue-200">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><small><b>IssueTracker</b><i>-beta</i></small>
        {% if user.is_authenticated %}
        <span class="user-id-font ms-2">({{user.username}})</span>
        {% endif %}
      </a>
      <button id="navbar-toggle-button" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggle">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarToggle">
        <div class="navbar-nav me-auto">
        </div>
        <!-- Navbar Right Side -->
        <div class="navbar-nav">
          {% if card_list %}
          <a class="nav-item nav-link ms-2" href="{% url 'card-list' %}"><img src="{% static 'icons/list-ul.svg' %}" class="nav-item" width="24" height="24"> <span class="nav-item small">list</span></a>
          {% else %}
          <a class="nav-item nav-link ms-2" href="{% url 'mainr' %}"><img src="{% static 'icons/grid.svg' %}" class="nav-item" width="22" height="22"> <span class="nav-item small">cards</span></a>
          {% endif %}
          {% if user.is_authenticated %}
          <a class="nav-item nav-link ms-2" href="{% url 'logout' %}"><img src="{% static 'icons/box-arrow-up.svg' %}" class="nav-item" width="22" height="22"> <span class="nav-item small">logout</span></a>
          {% else %}
          <a class="nav-item nav-link ms-2" href="{% url 'login' %}?next={{request.path}}"><img src="{% static 'icons/box-arrow-in-down.svg' %}" class="nav-item" width="22" height="22"> <span class="nav-item small">login</span></a>
          {% endif %}
          <li class="dropdown">
            <a class="nav-item nav-link dropdown-toggle ms-2" data-bs-toggle="dropdown">
              <img class="nav-item" src="{% static 'icons/intersect.svg' %}" width="22" height="22"> 
              <span class="nav-item small">more</span>
            </a>
            <div class="dropdown-menu bg-blue-200">
              <a class="dropdown-item nav-item nav-link ps-3" href="{% url 'card-create' %}"><img class="nav-item" src="{% static 'icons/textarea-resize.svg' %}" width="24" height="24"> <span class="nav-item small">new card</span></a>
              <a class="dropdown-item nav-item nav-link ps-3" href="{% url 'card-select' %}"><img class="nav-item" src="{% static 'icons/pencil-square.svg' %}" width="24" height="24"> <span class="nav-item small">new post</span></a>
              {% if user.is_authenticated %}
              <a class="dropdown-item nav-item nav-link ps-3" href="{% url 'profile' %}"><img src="{% static 'icons/person-lines-fill.svg' %}" class="nav-item" width="24" height="24"> <span class="nav-item small">profile</span></a>
              {% else %}
              <a class="dropdown-item nav-item nav-link ps-3" href="{% url 'register' %}"><img src="{% static 'icons/person-plus-fill.svg' %}" class="nav-item" width="24" height="24"> <span class="nav-item small">register</span></a>
              {% endif %}
            </div>
          </li>
          <li class="nav-link"></li>
          <form action='/' class="d-flex" method="POST" autocomplete="off">
            {% csrf_token %}
            <input class="nav-item form-control" name="search_term" type="text" placeholder="search...">
          </form>
        </div>
      </div>
    </div>
  </nav>

  <main role="main" class="my-2">
    <div class="container-fluid">
      {% if messages %}
      {% for message in messages %}
      <div class="alert alert-{{ message.tags }}">
        {{ message }}
      </div>
      {% endfor %}
      {% endif %} 
      <div id="announcement_area"></div>
    </div>
    {% block content %}{% endblock content %}
  </main>
  <footer class="footer mt-auto py-2 bg-blue-800 text-light">
    <div class="container-fluid">
      <span class=""><a href="{% url 'about' %}" style="text-decoration: none; color: white;">about IssueTracker | </a><span class="small"> issuetree.tracker@gmail.com</span></span>
    </div>
  </footer>
  <script type="text/javascript" src="{% static 'board/main.js' %}"></script>   
  {% block script %}{% endblock script %}
</body> 
</html>