{% extends "board/base.html" %}
{% block content %}
{% load static %}
{% if user.is_authenticated %}
<div class="container-fluid">
  {% if card_select_for_new_post %}
  <input type="button" class="btn btn-sm btn-outline-secondary float-end" value="cancel" onClick="javascript:history.go(-1);">
  <p><b class="text-red-600">Choose a card for your new post</b></p>
  {% if not cards %}
  {% if not public_cards and user.is_public_card_manager or not user_is_public_card_manager %}
  <div class="alert alert-danger" role="alert">
    Create your card first <a href="{% url 'card-create' %}"><img src="{% static 'icons/textarea-resize.svg' %}"></a>
  </div>
  {% endif %}
  {% endif %}
  {% endif %}
  <p class="emphasis-font" style="margin-bottom: 1px;"><img src="{% static 'icons/person-circle.svg' %}" width="24" height="24"> YOUR CARDS</p>
  <div class="row gy-1">
    {% for card in cards %}
    <div class="col-sm-12 col-md-6 col-xxl-4">
      <div class="card border-0">
        <div class="row">
          <div class="col-2 pe-1">
            {% if card.image %}
            <img src="{{ card.image.url }}" class="card-img-select">
            {% else %}
            <div class="card-img-select"></div>
            {% endif %}
          </div>
          <div class="col-10 ps-0">
            <div class="card-body text-dark" style="background-color: {{ card.card_color }};">
              <div class="float-end mt-1">
                <form action="" method="POST">
                  {% csrf_token %}
                  <input type="hidden" name="up_down" value="down">
                  <input type="hidden" name="card_to_move_id" value="{{ card.id }}">
                  <input type="image" class="" src="{% static 'icons/chevron-right.svg' %}" width="16" height="16">
                </form>
              </div>
              <div class="float-end me-1 mt-1">
                <form action="" method="POST">
                  {% csrf_token %}
                  <input type="hidden" name="up_down" value="up">
                  <input type="hidden" name="card_to_move_id" value="{{ card.id }}">
                  <input type="image" class="" src="{% static 'icons/chevron-left.svg' %}" width="16" height="16">
                </form>
              </div>
              <a href="{% url 'card-content' card.id %}" id="card_for_new_post" class="card-title-select text-dark KR-font">{{ card.title }}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endif %}

{% if user.is_authenticated %}
{% if not card_select_for_new_post or user.is_public_card_manager %}
<div id="divider-bar" class="my-2"></div>
{% endif %}
{% endif %}


{% if not card_select_for_new_post or user.is_public_card_manager %}
<div class="container-fluid">
  <p class="emphasis-font" style="margin-bottom: 1px;"><img src="{% static 'icons/people-fill.svg' %}" width="24" height="24"> PUBLIC CARDS</p>
  <div class="row gy-1">
    {% for card in public_cards %}
    <div class="col-sm-12 col-md-6 col-xxl-4">
      <div class="card border-0">
        <div class="row">
          <div class="col-2 pe-1">
            {% if card.image %}
            <img src="{{ card.image.url }}" class="card-img-select">
            {% else %}
            <div class="card-img-select"></div>
            {% endif %}
          </div>
          <div class="col-10 ps-0">
            <div class="card-body text-dark" style="background-color: {{ card.card_color }};">
              <span class="float-end" style="margin-right: -10px;">(<img src="{% static 'icons/people-fill.svg' %}" width="17" height="17">)</span>
              {% if card.is_official %}
              <span class="float-end me-1" style="margin-right: -10px;"><img src="{% static 'board/IssueTracker_Logo.png' %}" width="22" height="22"></span>
              {% endif %}
              {% if user.is_authenticated and user.is_public_card_manager %}
              <div class="float-end me-1 mt-1">
                <form action="" method="POST">
                  {% csrf_token %}
                  <input type="hidden" name="up_down" value="down">
                  <input type="hidden" name="card_to_move_id" value="{{ card.id }}">
                  <input type="image" class="" src="{% static 'icons/chevron-right.svg' %}" width="16" height="16">
                </form>
              </div>
              <div class="float-end me-1 mt-1">
                <form action="" method="POST">
                  {% csrf_token %}
                  <input type="hidden" name="up_down" value="up">
                  <input type="hidden" name="card_to_move_id" value="{{ card.id }}">
                  <input type="image" class="" src="{% static 'icons/chevron-left.svg' %}" width="16" height="16">
                </form>
              </div>
              {% endif %}
              <a href="{% url 'card-content' card.id %}" id="card_for_new_post" class="card-title-select text-dark KR-font">{{ card.title }}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endif %}

{% if card_select_for_new_post %}
<script>
  document.addEventListener('click', e => {
    const origin = e.target.closest('a');
    if (origin.id === "card_for_new_post") {
      e.preventDefault();
      window.location.href = origin.href+'new_post/';
    };
  });
</script>
{% endif %}
{% endblock content %}

