{% extends "board/base.html" %}
{% block content %}
{% load static %}
<div class="container-fluid p-0 m-0">
  <div class="row p-0 m-0">
    <div class="col-8 p-1 m-0">
      {% if card.is_public %}
      {% if card.is_official %}
      <img src="{% static 'board/IssueTracker_Logo.png' %}" width="24" height="24">
      {% endif %}
      <img src="{% static 'icons/people-fill.svg' %}" width="24" height="24">
      {% else %}
      <img src="{% static 'icons/person-circle.svg' %}" width="24" height="24">
      {% endif %}
      {% if card.is_geocard %}
      <img src="{% static 'icons/map-fill.svg' %}" width="20" height="20">
      {% endif %}
      <b class="KR-font">{{ card.title }}</b>
    </div>
    <div class="col-4 p-1 m-0">
      <a href="{% url 'main' %}" type="button" class="float-end btn-close ms-1"></a>
      {% if card.is_official and user.is_public_card_manager %}
      <a class="ms-2 float-end text-dark" href="{% url 'post-create' card_id %}"><img src="{% static 'icons/pencil-square.svg' %}" width="27" height="27"></a>
      {% elif not card.is_official and card.is_public %}
      <a class="ms-2 float-end text-dark" href="{% url 'post-create' card_id %}"><img src="{% static 'icons/pencil-square.svg' %}" width="27" height="27"></a>
      {% elif not card.is_public and user == card.owner %}
      <a class="ms-2 float-end text-dark" href="{% url 'post-create' card_id %}"><img src="{% static 'icons/pencil-square.svg' %}" width="27" height="27"></a>
      {% endif %}
      <a class="float-end text-dark" href="" data-bs-toggle="collapse" data-bs-target="#collapseDesc" id="collapseToggle"><img src="{% static 'icons/textarea-resize.svg' %}" width="27" height="27"></a>
    </div>
  </div>
  <div class="collapse" id="collapseDesc">
    <div id="divider-bar" style="background-color:{{card.card_color}}"></div>
    <div class="row p-0 m-0">
      <div class="col-sm-7 col-xl-4 p-0 m-0">
        {% if card.image %}
        <img class="card-img-preview" src="{{ card.image.url }}">
        {% else %}
        <span class="text-muted"> no card image</span>
        {% endif %}
      </div>
      <div class="col-sm-5 col-xl-8 p-1 m-0">
        {% if card.is_public and user.is_public_card_manager %}
        <a class="float-end" href="{% url 'card-delete' card_id %}"><img class="js-toggle-except" src="{% static 'icons/trash.svg' %}" width="24" height="24"></a>
        <a class="me-2 float-end" href="{% url 'card-update' card_id %}"><img class="js-toggle-except" src="{% static 'icons/gear-fill.svg' %}" width="24" height="24"></a>
        {% elif not card.is_public and user == card.owner %}
        <a class="float-end" href="{% url 'card-delete' card_id %}"><img class="js-toggle-except" src="{% static 'icons/trash.svg' %}" width="24" height="24"></a>
        <a class="me-2 float-end" href="{% url 'card-update' card_id %}"><img class="js-toggle-except" src="{% static 'icons/gear-fill.svg' %}" width="24" height="24"></a>
        {% endif %}
        {% if card.desc %}
        {{ card.desc }}
        {% else %}
        <span class="text-muted">no card description</span>
        {% endif %}
        <div class="alert alert-warning mt-2 px-1 py-0" role="alert">
          <div>{{ card.post_set.count }} posts {% if card.is_public %} ({{ author_count }} authors) {% endif %} </div>
        </div>
        <div class="float-end">by <b>{{ card.owner }}</b></div>
        {% if card.is_geocard %}
        <img src="{% static 'icons/map-fill.svg' %}" width="20" height="20">
        <b class="text-dark small">GEO CARD</b>
        {% endif %}
      </div>
    </div>
  </div>
  <div id="divider-bar" style="background-color:{{card.card_color}}"></div>
  <div class="row p-0 m-0">
    {% if not posts %}
    <div class="col m-1 p-0">
      <div class="alert alert-primary m-0 p-2">
        Create first post - <a class="ms-2 text-dark" href="{% url 'post-create' card_id %}"><img src="{% static 'icons/pencil-square.svg' %}" width="27" height="27"></a>
      </div>
    </div>
    {% endif %}
    {% for post in posts %}
    <div class="col-md-6 col-xl-4 col-xxl-3 p-0 pb-1 m-0">
      <div class="row m-0 p-0">
        {% if post.image1s %}
        <div class="col-6 m-0 p-1 pe-0">
          <div class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <a href="" data-bs-toggle="modal" data-bs-target="#collapsePost{{post.id}}">
                  <img class="img-fluid post-list-image" src="{{ post.image1s.url }}">
                </a>
              </div>
              {% if post.image2s %}
              <div class="carousel-item">
                <a href="" data-bs-toggle="modal" data-bs-target="#collapsePost{{post.id}}">
                  <img class="img-fluid post-list-image" src="{{ post.image2s.url }}">
                </a>
              </div>
              {% endif %}
              {% if post.image3s %}
              <div class="carousel-item">
                <a href="" data-bs-toggle="modal" data-bs-target="#collapsePost{{post.id}}">
                  <img class="img-fluid post-list-image" src="{{ post.image3s.url }}">
                </a>
              </div>
              {% endif %}
              {% if post.image4s %}
              <div class="carousel-item">
                <a href="" data-bs-toggle="modal" data-bs-target="#collapsePost{{post.id}}">
                  <img class="img-fluid post-list-image" src="{{ post.image4s.url }}">
                </a>
              </div>
              {% endif %}
              {% if post.image5s %}
              <div class="carousel-item">
                <a href="" data-bs-toggle="modal" data-bs-target="#collapsePost{{post.id}}">
                  <img class="img-fluid post-list-image" src="{{ post.image5s.url }}">
                </a>
              </div>
              {% endif %}
              {% if post.image6s %}
              <div class="carousel-item">
                <a href="" data-bs-toggle="modal" data-bs-target="#collapsePost{{post.id}}">
                  <img class="img-fluid post-list-image" src="{{ post.image6s.url }}">
                </a>
              </div>
              {% endif %}
              {% if post.image7s %}
              <div class="carousel-item">
                <a href="" data-bs-toggle="modal" data-bs-target="#collapsePost{{post.id}}">
                  <img class="img-fluid post-list-image" src="{{ post.image7s.url }}">
                </a>
              </div>
              {% endif %}
            </div>
          </div>
        </div>
        {% endif %}
        <div class="col{% if post.image1s %}-6{% endif %} m-0 p-1"> 
          <div class="d-flex justify-content-between">
            <div class="d-flex">
              {% if card.is_public %}
              <a class="me-2 text-dark" href="{% url 'author-posts' post.author.id %}?cid={{card.id}}"><b>{{ post.author }}</b></a>
              {% endif %}
              <a href="" data-bs-toggle="modal" data-bs-target="#collapsePost{{post.id}}">
                <div class="text-gray-500 small"> 
                  {{ post.date_posted|date:"M d" }} 
                </div>
              </a>
            </div>
            
            <div class="d-flex">
              {% if card.is_public %}
              <span id="listpagecounter{{post.id}}" class="float-end me-2 small text-muted">{% if post.likes.count > 0 %}<img src="{% static 'icons/up-arrow.svg' %}" width="17" height="17"> {{ post.likes.count }}{%endif%}</span>
              {% endif %}
              <span id="allrepliescounter{{post.id}}" class="float-end me-1 small text-muted">{% if post.comment_set.count > 0 %}<img src="{% static 'icons/chat-left.svg' %}" width="17" height="17"> {{ post.comment_set.count }}{%endif%}</span>
            </div>
          </div>
          
          <div hidden id="post_modal{{post.id}}" data-bs-toggle="modal" data-bs-target="#collapsePost{{post.id}}"></div>
          <a href="" data-bs-toggle="modal" data-bs-target="#collapsePost{{post.id}}">
            <div id="divider-bar-narrower" class="m-0 p-0" style="background-color:{{card.card_color}}"></div>
            {% if post.title != '' %}
            <p class="article-content text-dark text-break fw-bold bg-gray-100 fs-6 m-0 mb-1 p-0">{{ post.title }}</p>
            {% endif %}
            <p class="article-content text-dark mb-1 text-break">{{ post.get_preview_text|truncatechars:150|striptags }}</p>
          </a>
          <div class="col float-end m-0 p-1">
            {% for tag in post.tags.all %}
            <a href="{% url 'tag-posts' tag.id %}?cid={{card.id}}" class="badge bg-gray-200 text-dark">#{{ tag }}</a>
            {% endfor %}
          </div>
        </div>
      </div>
      
      <!-- Modal page start -->
      
      <div class="modal fade" id="collapsePost{{post.id}}" tabindex="-1">
        <div class="modal-dialog modal-fullscreen">
          <div class="modal-content">
            <div class="modal-body">
              {% include 'board/post_content.html' %}
            </div>
          </div>
        </div>
      </div>
      
      <!-- Modal page end -->
      
    </div>
    {% endfor %}
  </div>
  
  
  <div class="row m-0 p-0 mt-3">
    <div class="col d-flex justify-content-center align-items-center">
      {% if is_paginated %}
      {% if page_obj.has_previous %}
      <a class="btn btn-outline-light mb-4 me-1" href="?page=1"><img src="{% static 'icons/caret-left-fill.svg' %}" width="20" height="20"></a>
      {% endif %}
      
      {% for num in page_obj.paginator.page_range %}
      {% if num > page_obj.number|add:'-2' and num < page_obj.number %}
      <a class="btn btn-outline-light mb-4 me-1" href="?page={{ num }}"><img src="{% static 'icons/caret-left.svg' %}" width="20" height="20"></a>
      {% elif page_obj.number == num %}
      <a class="btn btn-outline-light text-dark mb-4 me-1" href="?page={{ num }}">{{ num }}</a>
      {% elif num > page_obj.number and num < page_obj.number|add:'2' %}
      <a class="btn btn-outline-light mb-4 me-1" href="?page={{ num }}"><img src="{% static 'icons/caret-right.svg' %}" width="20" height="20"></a>
      {% endif %}
      {% endfor %}
      
      {% if page_obj.has_next %}
      <a class="btn btn-outline-light mb-4 me-1" href="?page={{ page_obj.paginator.num_pages }}"><img src="{% static 'icons/caret-right-fill.svg' %}" width="20" height="20"></a>
      {% endif %}
      {% endif %}
    </div>
  </div>
</div>
{% endblock content %}

{% block script %}
{% include 'board/post_script.html' %}
<script>
  {% for post in posts %}
  render_comments({{post.id}}, 1);
  {% endfor %}
  document.querySelectorAll("#modal_close_top").forEach(e => {
    e.innerHTML = '<button type="button" class="float-end btn-close me-2" data-bs-dismiss="modal"></button>';
  });
  document.querySelectorAll("#modal_close_middle").forEach(e => {
    e.innerHTML = '<a href="" class="text-muted small float-end mt-1 mx-2" data-bs-dismiss="modal">close</a>';
  });
  // document.querySelectorAll("#modal_close_bottom").forEach(e => {
    //   e.innerHTML = '<a href="" class="text-muted small float-end mt-1 mx-2" data-bs-dismiss="modal">close</a><br><br>';
    // });

  function postmodal_open(id) {
    document.getElementById('post_modal'+id).click();
  };
  {{ postmodal_open }}

  history.pushState(null, null, window.top.location.pathname + window.top.location.search);
    window.addEventListener('popstate', (e) => {
      e.preventDefault();
      history.pushState(null, null, window.top.location.pathname + window.top.location.search);
    });
</script>
{% endblock script %}