{% extends "board/base.html" %}
{% block content %}
{% load crispy_forms_tags %}
<div id="card-create-container" class="container" style="background-color: {{ bg_color }}">
  <form method="POST" enctype="multipart/form-data" autocomplete="off">
    {% csrf_token %}
    <fieldset>
      <div class="row">
        <legend class="border-bottom mb-4">{{c_u}} card</legend>
        <div class="col-lg-6">
          Title* {{ form.title }}
          Desc {{ form.desc }}
          {{ form.card_color.as_hidden }}

          {% if user.is_public_card_manager %}
            {% if c_u == "Create" %}
            <p id="public_card_check_id" class="m-0">{{ form.is_public }} <b class="small">make this public</b></p>
            <p class="m-0">{{ form.is_official }} <b class="small">make this public and official</b></p>
            {% else %}
            <p hidden>{{ form.is_public }} {{ form.is_official }}</p>
            {% if card.is_public %}
				      <p class="emphasis-font text-red-700 m-0">PUBLIC CARD</p>
            {% endif %}
            {% if card.is_official %}
				      <p class="emphasis-font text-red-700 m-0">OFFICIAL CARD</p>
            {% endif %}
            {% endif %}
          {% endif %}

        </div>
        <div class="col-lg-6">
          Image 
          <img class="rounded w-100 mb-1" src="{{ form.instance.image.url }}">
          <input type="hidden" name="default_img" value="{{ form.instance.image }}">
          {{ form.image_input }}
          <div class="my-2">
            <button class="btn btn-primary btn-sm float-end" type="submit">{{c_u}}</button>
            <input type="button" class="me-2 btn btn-sm btn-outline-secondary float-end" value="cancel" onclick="javascript:history.go(-1);">
            <button type="button" class="btn btn-warning btn-sm" data-bs-toggle="modal" data-bs-target="#colorModal">
              <b>Card color</b>
            </button>
          </div>
        </div>
      </div>
      <!-- Modal -->
      <!-- actual mechanism is implemented with javascript -->
      <div class="modal fade" id="colorModal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header p-1">
              choose a color:
              <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
              <div class="container">
                <div class="row">
                  <div class="col color-element bg-blue-100"></div>
                  <div class="col color-element bg-yellow-100"></div>
                  <div class="col color-element bg-red-100"></div>
                  <div class="col color-element bg-orange-100"></div>
                  <div class="col color-element bg-green-100"></div>
                  <div class="col color-element bg-gray-200"></div>
                </div>
                <div class="row">
                  <div class="col color-element bg-blue-200"></div>
                  <div class="col color-element bg-yellow-200"></div>
                  <div class="col color-element bg-red-200"></div>
                  <div class="col color-element bg-orange-200"></div>
                  <div class="col color-element bg-green-200"></div>
                  <div class="col color-element bg-gray-300"></div>
                </div>
                <div class="row">
                  <div class="col color-element bg-blue-300"></div>
                  <div class="col color-element bg-yellow-300"></div>
                  <div class="col color-element bg-red-300"></div>
                  <div class="col color-element bg-orange-300"></div>
                  <div class="col color-element bg-green-300"></div>
                  <div class="col color-element bg-gray-400"></div>
                </div>
          {% if user.is_public_card_manager %}
                <div class="row p-1">exclusive for public card:</div>
                <div class="row">
                  <div class="col color-element bg-blue-400"></div>
                  <div class="col color-element bg-yellow-400"></div>
                  <div class="col color-element bg-red-400"></div>
                  <div class="col color-element bg-orange-400"></div>
                  <div class="col color-element bg-green-400"></div>
                  <div class="col color-element bg-gray-500"></div>
                </div>
                <div class="row p-1"></div>
                <div class="row">
                  <div class="col color-element bg-indigo-100"></div>
                  <div class="col color-element bg-indigo-200"></div>
                  <div class="col color-element bg-indigo-300"></div>
                  <div class="col color-element bg-indigo-400"></div>
                  <div class="col color-element bg-indigo-500"></div>
                  <div class="col color-element bg-indigo-600"></div>
                </div>
                <div class="row">
                  <div class="col color-element bg-pink-100"></div>
                  <div class="col color-element bg-pink-200"></div>
                  <div class="col color-element bg-pink-300"></div>
                  <div class="col color-element bg-pink-400"></div>
                  <div class="col color-element bg-pink-500"></div>
                  <div class="col color-element bg-pink-600"></div>
                </div>
                <div class="row">
                  <div class="col color-element bg-teal-100"></div>
                  <div class="col color-element bg-teal-200"></div>
                  <div class="col color-element bg-teal-300"></div>
                  <div class="col color-element bg-teal-400"></div>
                  <div class="col color-element bg-teal-500"></div>
                  <div class="col color-element bg-teal-600"></div>
                </div>
                <div class="row">
                  <div class="col color-element bg-cyan-100"></div>
                  <div class="col color-element bg-cyan-200"></div>
                  <div class="col color-element bg-cyan-300"></div>
                  <div class="col color-element bg-cyan-400"></div>
                  <div class="col color-element bg-cyan-500"></div>
                  <div class="col color-element bg-cyan-600"></div>
                </div>
          {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </fieldset>
  </form>
</div>

<script>
  let io_dom = document.getElementById("id_is_official"); 
  if (io_dom != null) {
    io_dom.addEventListener('change', e => {
      if (e.currentTarget.checked) {
        document.getElementById("public_card_check_id").style.display = "none";
      } else {
        document.getElementById("public_card_check_id").style.display = "block";
      }
    })
  }
</script>

{% endblock content %}

