{% extends "board/base.html" %}
{% block content %}
{% load static %}
{% if user.is_authenticated %}

<div class="container-fluid m-0 p-0">
  {% if card_select_for_new_post %}
  <input type="button" class="me-1 btn btn-sm btn-outline-secondary float-end" value="cancel" onclick="javascript:history.go(-1);">
  {% if request_type == "publish" %}
  <p><b class="text-red-600 ms-1">Choose a public card to pubilsh your post</b></p>
  {% elif request_type == "move" %}
  <p><b class="text-red-600 ms-1">Choose a private card to move your post</b></p>
  {% else %}
  <p><b class="text-red-600 ms-1">Choose a card for your new post</b></p>
  {% endif %}
  {% if not cards and user.is_in_private_mode %}
  <div class="alert alert-danger p-2 m-1" role="alert">
    Create your private card first <a href="{% url 'card-create' %}"><img src="{% static 'icons/textarea-resize.svg' %}" width="24" height="24"></a>
  </div>
  {% endif %}
  {% if not public_cards and user.is_public_card_manager %}
  <div class="alert alert-danger m-1 p-2" role="alert">
    Create public card <a href="{% url 'card-create' %}"><img src="{% static 'icons/textarea-resize.svg' %}"></a>
  </div>
  {% elif not public_cards and not user.is_public_card_manager %}
  <div class="alert alert-danger" role="alert">
    No public cards yet
  </div>
  {% endif %}
  {% endif %}

  {% if user.is_in_private_mode and request_type != "publish" %}
  <p class="emphasis-font px-1" style="margin-bottom: 1px;"><img src="{% static 'icons/person-circle.svg' %}" width="24" height="24"> MY CARDS</p>
  <div class="row m-0 p-0">
    {% if not cards %}
    <div class="col m-1 p-0">
      <div class="alert alert-primary m-0 p-2">
        Create first card - <a class="ms-2 text-dark" href="{% url 'card-create' %}"><img src="{% static 'icons/textarea-resize.svg' %}" width="27" height="27"></a>
      </div>
    </div>
    {% endif %}
    {% for card in cards %}
    <div id="card_dom{{card.id}}" class="col-sm-12 col-md-6 col-xxl-4 m-0 px-1">
      <div class="card animated border-0">
        <div class="row m-0 mb-1 p-0">
          <div class="col-2 m-0 p-0">
            {% if card.image %}
            <a id="card_for_selection{{card.id}}" href="{% url 'card-content' card.id %}" class="card border-0">
            <img src="{{ card.image.url }}" class="card-img-select">
            </a>
            {% else %}
            <div class="card-img-select"></div>
            {% endif %}
          </div>
          <div class="col-10 m-0 p-0">
            <div class="card-body text-dark" style="background-color: {{ card.card_color }};">
              <span class="pub-icon-style float-end" style="margin-right:0px;" onclick="move_card(event, {{card.id}}, 'down')"><img src="{% static 'icons/chevron-right.svg'%}" width="16" height="16"></span>
              <span class="pub-icon-style float-end" style="margin-right:0px;" onclick="move_card(event, {{card.id}}, 'up')"><img src="{% static 'icons/chevron-left.svg' %}" width="16" height="16"></span>
              <a href="{% url 'card-content' card.id %}" id="card_for_selection{{card.id}}" class="card-title-select text-dark KR-font">{{ card.title }}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% endif %}
</div>

{% endif %}

{% if not user.is_in_private_mode or request_type == "publish" %}
<div class="container-fluid p-0 m-0">
  <div class="row m-0 p-1 pt-0">
    <div class="col m-0 p-0">
      <span class="emphasis-font" style="margin-bottom: 1px;"><img src="{% static 'icons/people-fill.svg' %}" width="24" height="24"> PUBLIC CARDS</span>

      {% if not request_type or user.is_public_card_manager %}
      <span class="float-end">
        <img src="{% static 'board/IssueTracker_Logo.png' %}" width="22" height="22"> official
      </span>
      {% endif %}

    </div>
  </div>
  <div class="row m-0 p-0">
    {% for card in public_cards %}
    {% if not card_select_for_new_post or user.is_public_card_manager or not card.is_official %}
    <div id="card_dom{{card.id}}" class="col-sm-12 col-md-6 col-xxl-4 m-0 px-1">
      <div class="card animated border-0">
        <div class="row m-0 mb-1 p-0">
          <div class="col-2 m-0 p-0">
            {% if card.image %}
            <a id="card_for_selection{{card.id}}" href="{% url 'card-content' card.id %}" class="card border-0">
            <img src="{{ card.image.url }}" class="card-img-select">
            </a>
            {% else %}
            <div class="card-img-select"></div>
            {% endif %}
          </div>
          <div class="col-10 m-0 p-0">
            <div class="card-body text-dark" style="background-color: {{ card.card_color }};">
              <span class="float-end" style="margin-right: -10px;">(<img src="{% static 'icons/people-fill.svg' %}" width="17" height="17">)</span>
              {% if card.is_official %}
              <span class="float-end me-1" style="margin-right: -10px;"><img src="{% static 'board/IssueTracker_Logo.png' %}" width="22" height="22"></span>
              {% endif %}
              {% if user.is_authenticated and user.is_public_card_manager %}
              <span class="float-end" onclick="move_card(event, {{card.id}}, 'down')"><img src="{% static 'icons/chevron-right.svg'%}" width="16" height="16"></span>
              <span class="float-end" onclick="move_card(event, {{card.id}}, 'up')"><img src="{% static 'icons/chevron-left.svg' %}" width="16" height="16"></span>
              {% endif %}
              <a href="{% url 'card-content' card.id %}" id="card_for_selection{{card.id}}" class="card-title-select text-dark KR-font">{{ card.title }}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
    {% endfor %}
  </div>
</div>
{% endif %}

{% if card_select_for_new_post %}
<script>
  document.addEventListener('click', e => {
    const origin = e.target.closest('a');
    if (origin != null && origin.id.startsWith("card_for_selection")) {
      e.preventDefault();
      {% if card_select_for_new_post %}

        {% if request_type == "publish" or request_type == "move" %}

          let request = new XMLHttpRequest();
          request.open("POST", "{% url 'post-mp-mgmt' %}"); 
          request.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
          request.onreadystatechange = function() {
            if(this.readyState === 4 && this.status === 200) {
              let card_id = JSON.parse(this.responseText).card_id;
              window.location.href = '{% url "main" %}'+'card/'+card_id;
            };
          };
          let formData = new FormData();
          formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');
          formData.append('request_type', '{{request_type}}');
          formData.append('target_pid', {{target_pid}});
          formData.append('card_id', parseInt(origin.id.slice(18)));
          request.send(formData);

        {% else %}
          window.location.href = origin.href+'new_post/';

        {% endif %}

      {% endif %}

    };
  });
  
</script>
{% endif %}
{% endblock content %}

{% block script %}
<script>
  
  function move_card(e, id, up_down) {
    e.preventDefault();
    let request = new XMLHttpRequest();
    request.open("POST", "{% url 'card-move' %}", true);
    request.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
    request.onreadystatechange = function() {
      if(this.readyState === 4 && this.status === 200) {
        let target_card_id = JSON.parse(this.responseText).target_card_id;
        if(target_card_id != "none") {
          let dom_origin = document.getElementById('card_dom'+id);
          let dom_target = document.getElementById('card_dom'+target_card_id);
          exchangeElements(dom_origin, dom_target);
        };
      };
    }
    let formData = new FormData();
    formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');
    formData.append('card_id', id);
    formData.append('up_down', up_down);
    request.send(formData);
  }
  function exchangeElements(element1, element2)
  {
    var clonedElement1 = element1.cloneNode(true);
    var clonedElement2 = element2.cloneNode(true);
    element2.parentNode.replaceChild(clonedElement1, element2);
    element1.parentNode.replaceChild(clonedElement2, element1);
    return clonedElement1;
  }
  
</script>
{% endblock script %}
