{% load static %}

{% for comment in comments %}
<div id="divider-bar-narrower"></div>
<div class="bg-gray-100">
  <span class="KR-font">{{ comment.author }}</span>
  <small class="float-end text-muted">{{ comment.date_posted|date:"y-m-d H:i" }}</small>
  {% if comment.author == user %}
  <a href="" class="me-3 float-end small text-muted" data-bs-toggle="collapse" data-bs-target="#delete_comment{{comment.id}}">del</a>
  <small class="float-end text-muted mx-1">|</small> 
  <a href="" class="float-end small text-muted" onclick="comment_edit(event, {{comment.id}})">edit</a> 
  {% endif %}
</div>
<div id="divider-bar-narrower"></div>

<!-- delete collapse part start -->

<div class="collapse p-0" id="delete_comment{{comment.id}}">
  <div class="d-flex align-items-center justify-content-end">
    <span class="me-2 small text-muted">delete?</span>
    <form method="POST" action="">
      {% csrf_token %}
      <input type="submit" class="btn btn-sm btn-outline-danger me-2 my-1" onclick="{{CR}}_del(event, {{comment.id}}, {{linked_obj.id}})" value="confirm">
    </form>
    <button type="button" data-bs-toggle="collapse" data-bs-target="#delete_comment{{comment.id}}" class="btn btn-sm btn-outline-dark me-1 my-1">no</button>
  </div>
</div>

<!-- delete collapse part end -->

<div id="comment_{{comment.id}}_content" class=""><pre class="mt-1 mb-2 body-font fs-6">{{ comment.content }}</pre></div>
<div class="row m-0">
  <div class="col p-0 mb-2">
    <a href="" onclick="render_replies({{comment.id}}, 1)" class="text-muted p-0 m-0" data-bs-toggle="collapse" data-bs-target="#comment_replies{{comment.id}}">
      <img src="{% static 'icons/reply.svg' %}" width="18" height="18">reply
      <span id="repliescounter1_{{comment.id}}">{% if comment.comment_set.count > 0 %}({{comment.comment_set.count}}){% endif %}</span>
    </a>
    <span id="vote_meter_comment{{comment.id}}">
      {% if comment.post.card.is_public %}
      <span class="float-end">{% if comment.dislikes.count > 0 %}{{ comment.dislikes.count }}{%endif%}</span>
      {% if user in comment.dislikes.all %}
      <span class="p-0 m-0 ms-1 float-end" onclick="vote_click({{comment.id}}, 'down', 'comment')"><img src="{% static 'icons/hand-thumbs-down-fill.svg' %}" width="18" height="18"></span>
      {% else %}
      <span class="p-0 m-0 ms-1 float-end" onclick="vote_click({{comment.id}}, 'down', 'comment')"><img src="{% static 'icons/hand-thumbs-down.svg' %}" width="18" height="18"></span>
      {% endif %}
      <span class="float-end">{% if comment.likes.count > 0 %}{{ comment.likes.count }}{%endif%}</span>
      {% if user in comment.likes.all %}
      <span class="p-0 m-0 float-end" onclick="vote_click({{comment.id}}, 'up', 'comment')"><img src="{% static 'icons/hand-thumbs-up-fill.svg' %}" width="18" height="18"></span>
      {% else %}
      <span class="p-0 m-0 float-end" onclick="vote_click({{comment.id}}, 'up', 'comment')"><img src="{% static 'icons/hand-thumbs-up.svg' %}" width="18" height="18"></span>
      {% endif %}
      {% endif %}
    </span>
  </div>
</div>


<!-- replies collapse part start -->

<div class="collapse" id="comment_replies{{comment.id}}">
  <div class="row p-2 m-0 border border-2 border-warning rounded mb-2">
    <div class="col p-0 m-0">
      <span class="emphasis-font small" id="repliescounter2_{{comment.id}}">{% if comment.comment_set.count > 0 %}{{comment.comment_set.count}}{% endif %} replies</span>
      <button id='close_replycollapse{{comment.id}}' type="button" data-bs-toggle="collapse" data-bs-target="#comment_replies{{comment.id}}" class="btn btn-close float-end"></button>
      <div id="comment_replies_list{{comment.id}}" class="m-0 p-0 mb-2"></div>
      {% if user.is_authenticated %}
      <form id="commentReplyForm{{comment.id}}" method="POST">
        {% csrf_token %}
        {{ form.content }}
        <button class="btn btn-secondary btn-sm mt-2" onclick="reply_submit(event, {{comment.id}})">submit</button>
        <input type="button" class="btn btn-outline-secondary btn-sm float-end mt-2" value="clear" onclick="clear_commentReplyForm(event, {{comment.id}})">
      </form>
      {% endif %}
    </div>
  </div>
</div>

<!-- replies collapse part end-->

{% endfor %}



<div class="col d-flex justify-content-center align-items-center">
  {% if is_paginated %}
  {% if page_obj.has_previous %}
  <a class="btn btn-outline-light mb-4 me-1" onclick="render_{{CRs}}({{linked_obj.id}}, 1)"><img src="{% static 'icons/caret-left-fill.svg' %}" width="20" height="20"></a>
  {% endif %}
  
  {% for num in page_obj.paginator.page_range %}
  {% if num > page_obj.number|add:'-2' and num < page_obj.number %}
  <a class="btn btn-outline-light mb-4 me-1" onclick="render_{{CRs}}({{linked_obj.id}}, {{ num }})"><img src="{% static 'icons/caret-left.svg' %}" width="20" height="20"></a>
  
  {% elif page_obj.number == num %}
  <a class="btn btn-outline-light text-dark mb-4 me-1" onclick="render_{{CRs}}({{linked_obj.id}}, {{ num }})">{{ num }}</a>
  {% elif num > page_obj.number and num < page_obj.number|add:'2' %}
  <a class="btn btn-outline-light mb-4 me-1" onclick="render_{{CRs}}({{linked_obj.id}}, {{ num }})"><img src="{% static 'icons/caret-right.svg' %}" width="20" height="20"></a>
  {% endif %}
  {% endfor %}
  
  {% if page_obj.has_next %}
  <a class="btn btn-outline-light mb-4 me-1" onclick="render_{{CRs}}({{linked_obj.id}}, {{ page_obj.paginator.num_pages }})"><img src="{% static 'icons/caret-right-fill.svg' %}" width="20" height="20"></a>
  {% endif %}
  {% endif %}
</div>

