{% load static %}

{% for comment in comments %}
<div id="divider-bar-narrower"></div>
<div class="bg-gray-100">
  <span class="KR-font">{{ comment.author }}</span>
  <small class="float-end text-muted">{{ comment.date_posted|date:"y-m-d H:i" }}</small>
  {% if comment.author == user %}
  <a href="" class="me-3 float-end small text-muted" data-bs-toggle="collapse" data-bs-target="#delete_comment{{comment.id}}">del</a>
  <small class="float-end text-muted mx-1">|</small> 
  <a href="" class="float-end small text-muted" onclick="comment_edit(event, {{comment.id}})">edit</a> 
  {% endif %}
</div>
<div id="divider-bar-narrower"></div>

<!-- delete modal part -->

<div class="collapse p-0" id="delete_comment{{comment.id}}">
  <div class="d-flex align-items-center justify-content-end">
    <span class="me-2 small text-muted">delete?</span>
    <form method="POST" action="">
      {% csrf_token %}
      <input type="submit" class="btn btn-sm btn-outline-danger me-2 my-1" onclick="comment_del(event, {{comment.id}})" value="confirm">
    </form>
    <button type="button" data-bs-toggle="collapse" data-bs-target="#delete_comment{{comment.id}}" class="btn btn-sm btn-outline-dark me-1 my-1">no</button>
  </div>
</div>

<!-- delete modal part end -->

<div id="comment_{{comment.id}}_content" class=""><pre class="mt-1 mb-2 body-font fs-6">{{ comment.content }}</pre></div>
<div class="row m-0">
  <div class="col p-0 mb-2">
    <a href="" id="replies_link_to_comment{{comment.id}}" class="text-muted p-0 m-0" data-bs-toggle="collapse" data-bs-target="#comment_replies{{comment.id}}"><img src="{% static 'icons/reply.svg' %}" class="me-1" width="18" height="20">reply</a>
    <span id="vote_meter_comment{{comment.id}}">
      {% if comment.post.card.is_public %}
      <span class="float-end me-1">({{ comment.dislikes.count }})</span>
      {% if user in comment.dislikes.all %}
      <span class="p-0 m-0 float-end" onclick="vote_click({{comment.id}}, 'down', 'comment')"><img src="{% static 'icons/hand-thumbs-down-fill.svg' %}" width="18" height="18"></span>
      {% else %}
      <span class="p-0 m-0 float-end" onclick="vote_click({{comment.id}}, 'down', 'comment')"><img src="{% static 'icons/hand-thumbs-down.svg' %}" width="18" height="18"></span>
      {% endif %}
      <span class="float-end me-1">({{ comment.likes.count }})</span>
      {% if user in comment.likes.all %}
      <span class="p-0 m-0 float-end" onclick="vote_click({{comment.id}}, 'up', 'comment')"><img src="{% static 'icons/hand-thumbs-up-fill.svg' %}" width="18" height="18"></span>
      {% else %}
      <span class="p-0 m-0 float-end" onclick="vote_click({{comment.id}}, 'up', 'comment')"><img src="{% static 'icons/hand-thumbs-up.svg' %}" width="18" height="18"></span>
      {% endif %}
      {% endif %}
    </span>
  </div>
</div>


<!-- replies modal part -->

<div class="collapse bg-gray-100 p-1 m-1 mb-2 pb-4" id="comment_replies{{comment.id}}">
  {% load crispy_forms_tags %}
  {% if user.is_authenticated %}
    <form id="commentReplyForm{{comment.id}}" method="POST">
      {% csrf_token %}
      {{ form | crispy }}
      <button class="btn btn-secondary btn-sm" onclick="commentReply_submit(event, {{comment.id}})">submit</button>
      <input type="button" class="btn btn-outline-secondary btn-sm float-end" value="clear" onclick="clear_commentReplyForm(event)">
    </form>
  {% endif %}
    <button type="button" data-bs-toggle="collapse" data-bs-target="#comment_replies{{comment.id}}" class="btn btn-outline-secondary btn-sm float-end mt-2">close</button><br>
</div>

<!-- replies modal part end-->

{% endfor %}



<div class="col d-flex justify-content-center align-items-center">
  {% if is_paginated %}
  {% if page_obj.has_previous %}
  <a class="btn btn-outline-light mb-4 me-1" onclick="render_comments({{post.id}}, 1)"><img src="{% static 'icons/caret-left-fill.svg' %}" width="20" height="20"></a>
  {% endif %}
  
  {% for num in page_obj.paginator.page_range %}
  {% if num > page_obj.number|add:'-2' and num < page_obj.number %}
  <a class="btn btn-outline-light mb-4 me-1" onclick="render_comments({{post.id}}, {{ num }})"><img src="{% static 'icons/caret-left.svg' %}" width="20" height="20"></a>
  
  {% elif page_obj.number == num %}
  <a class="btn btn-outline-light text-dark mb-4 me-1" onclick="render_comments({{post.id}}, {{ num }})">{{ num }}</a>
  {% elif num > page_obj.number and num < page_obj.number|add:'2' %}
  <a class="btn btn-outline-light mb-4 me-1" onclick="render_comments({{post.id}}, {{ num }})"><img src="{% static 'icons/caret-right.svg' %}" width="20" height="20"></a>
  {% endif %}
  {% endfor %}
  
  {% if page_obj.has_next %}
  <a class="btn btn-outline-light mb-4 me-1" onclick="render_comments({{post.id}}, {{ page_obj.paginator.num_pages }})"><img src="{% static 'icons/caret-right-fill.svg' %}" width="20" height="20"></a>
  {% endif %}
  {% endif %}
</div>


################################################################################# EDIT #############################################
# ALSO FIX unnatual collapse.... 
# BELOW NOT WORK AS this is not directly in body tag... 
<script>
document.getElementById("replies_link_to_comment126").addEventListener('click', e=>{
  let obj = document.getElementById("comment_replies126");
  if (obj.classList.contains("show")) {
    alert("show");
  }else{
    alert("not");
  };

})
</script>