{% load static %}
{% if widget.is_initial %}
<span class="ms-1">(<a href="{{ widget.value.url }}">
  <img src="{% static 'icons/card-image.svg' %}" class="nav-item mb-1" width="20" height="20">
</a>)</span>{% if not widget.required %}
<span class="ms-2 form-check form-check-inline">
  <label class="form-check-label text-muted" for="{{ widget.checkbox_id }}"> remove </label>
  <input class="form-check-input" type="checkbox" name="{{ widget.checkbox_name }}" id="{{ widget.checkbox_id }}"{% if widget.attrs.disabled %} disabled{% endif %}> 
</span>
{% endif %}{% endif %}
<input type="{{ widget.type }}" name="{{ widget.name }}"{% include "django/forms/widgets/attrs.html" %}>

