{% load static %}
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta property="og:title" content="IssueTracker - organize your issues">
  <meta property="og:description" content="track and search issues effectively">
  <meta property="og:image" content="{% static 'board/thumbnail_issuetracker.jpg' %}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Anton&family=Open+Sans&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Secular+One&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'bs5/bootstrap.css' %}">
  <link rel="stylesheet" href="{% static 'board/style.css' %}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
  <script src="{% static 'bs5/bootstrap.js' %}"></script>
  <link rel="icon" href="{% static 'board/IssueTracker_Logo.png' %}">
  <title>IssueTracker</title>
</head>
<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <button type="button" class="float-end btn-close me-2" onclick="javascript:history.back()"></button>
      </div>
    </div>
    <div class="row">
      <div class="col d-flex justify-content-center align-items-center">
        <img src="{{image_url}}">
      </div>
    </div>
  </div>
</body>