{% extends "board/base.html" %}

{% block content %}
{% load static %}
{% if user.is_authenticated %}
<div class="container-fluid">
  <p class="emphasis-font">YOUR CARDS</p>
  <div class="row gy-3">
    {% for card in cards %}
    <div class="col-sm-6 col-lg-4 col-xl-3">
      <div class="card border-0">
        {% if card.image %}
        <img src="{{ card.image.url }}" class="card-img">
        {% else %}
        <img src="" class="card-img">
        {% endif %}
        <a href="{% url 'card-content' card.id %}">
          <div class="card-body text-dark" style="background-color: {{ card.card_color }};">
            <h5 class="card-title card-title-size">{{ card.title }}</h5>
            <p class="card-text card-text-size">
              {{ card.desc }}
            </p>
          </div>
        </a>
      </div>
    </div>
    {% endfor %}
    <div class="col-sm-6 col-lg-4 col-xl-3">
      <div class="card border-0">
        <img src="" class="card-img bg-blue-100">
        <a href="{% url 'card-create' %}" class="card-link">
          <img src="{% static 'board/plus-lg.svg' %}" class="card-img addition">
          <div class="card-body bg-blue-300 text-white">
            <h5 class="card-title card-title-size">New Card</h5>
            <p class="card-text card-text-size">
            </p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
{% endif %}

{% if user.is_authenticated %}
<div id="divider-bar"></div>
{% endif %}

<div class="container-fluid">
  <p class="emphasis-font">PUBLIC CARDS</p>
  <div class="row gy-3">
    {% for card in public_cards %}
    <div class="col-sm-6 col-lg-4 col-xl-3">
      <div class="card border-0">
        {% if card.image %}
        <img src="{{ card.image.url }}" class="card-img">
        {% else %}
        <img src="" class="card-img">
        {% endif %}
        <a href="{% url 'card-content' card.id %}">
          <div class="card-body text-dark" style="background-color: {{ card.card_color }};">
            <h5 class="card-title card-title-size">{{ card.title }}</h5>
            <p class="card-text card-text-size">
              {{ card.desc }}
            </p>
          </div>
        </a>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock content %}
