{% extends "board/base.html" %}

{% block content %}
{% load static %}
<div class="container-fluid">
  <div class="row gy-2">
    {% for card in cards %}
    <div class="col-sm-6 col-lg-4 col-xl-3 col-xxl-2">
      <div class="card border-0">
        {% if card.image %}
        <img src="{{ card.image.url }}" class="card-img">
        {% else %}
        <img src="" class="card-img">
        {% endif %}
        <a href="{% url 'card-content' card.id %}" class="card-link">
        <div class="card-body {{ main_color }}">
          <h5 class="card-title">{{ card.title }}</h5>
          <p class="card-text card-text-size">
            {{ card.desc }}
          </p>
        </div>
        </a>
      </div>
    </div>
    {% endfor %}
    <div class="col-sm-6 col-lg-4 col-xl-3 col-xxl-2">
      <div class="card border-0">
        <img src="" class="card-img bg-blue-100">
        <a href="{% url 'card-create' %}" class="card-link">
        <img src="{% static 'board/plus-square-dotted.svg' %}" class="card-img addition">
        <div class="card-body bg-blue-300 text-white">
          <h5 class="card-title">New Card</h5>
          <p class="card-text card-text-size">
          </p>
        </div>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  {% if is_paginated %}
  {% if page_obj.has_previous %}
  <a class="btn btn-outline-info mb-4" href="?page=1">first</a>
  {% endif %}
  
  {% for num in page_obj.paginator.page_range %}
  {% if page_obj.number == num %}
  <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
  {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
  <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
  {% endif %}
  {% endfor %}
  
  {% if page_obj.has_next %}
  <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">last</a>
  {% endif %}
  {% endif %}
</div>

{% endblock content %}
