{% extends "board/base.html" %}
{% block content %}
{% load static %}
{% if user.is_authenticated %}
<div class="container-fluid">
  <p class="emphasis-font" style="margin-bottom: 1px;"><img src="{% static 'icons/person-circle.svg' %}" width="24" height="24"> YOUR CARDS</p>
  <div class="row gy-2">
    {% for card in cards %}
    <div class="col-sm-6 col-lg-4 col-xl-3 col-xxl-2">
      <div class="card border-0">
        {% if card.image %}
        <img src="{{ card.image.url }}" class="card-img">
        {% else %}
        <div class="card-img"></div>
        {% endif %}
        <a href="{% url 'card-content' card.id %}">
          <div class="card-body text-dark p-2" style="background-color: {{ card.card_color }};">
            <h5 class="card-title card-title-size KR-font">{{ card.title }}</h5>
            <p class="card-text card-text-size">
              {{ card.desc }}
            </p>
          </div>
        </a>
      </div>
    </div>
    {% endfor %}
    <!-- <div class="col-sm-6 col-lg-4 col-xl-3 col-xxl-2">
      <div class="card border-0">
        <img src="" class="card-img bg-blue-100">
        <a href="{% url 'card-create' %}" class="card-link">
          <img src="{% static 'icons/plus-lg.svg' %}" class="card-img addition">
          <div class="card-body bg-blue-200 text-dark p-2">
            <h5 class="card-title card-title-size"><img src="{% static 'icons/textarea-resize.svg' %}" width="25" height="25"> New Card</h5>
            <p class="card-text card-text-size">
            </p>
          </div>
        </a>
      </div>
    </div> -->
  </div>
</div>
{% endif %}

{% if user.is_authenticated %}
<div id="divider-bar" class="my-3"></div>
{% endif %}

<div class="container-fluid">
  <p class="emphasis-font" style="margin-bottom: 1px;"><img src="{% static 'icons/people-fill.svg' %}" width="24" height="24"> PUBLIC CARDS</p>
  <div class="row gy-2">
    {% for card in public_cards %}
    <div class="col-sm-6 col-lg-4 col-xl-3 col-xxl-2">
      <div class="card border-0">
        {% if card.image %}
        <img src="{{ card.image.url }}" class="card-img">
        {% else %}
        <div class="card-img"></div>
        {% endif %}
        <a href="{% url 'card-content' card.id %}">
          <div class="card-body text-dark p-2" style="background-color: {{ card.card_color }};">
            <span class="float-end pub-icon-style">(<img src="{% static 'icons/people-fill.svg' %}" width="17" height="17">)</span>
            <h5 class="card-title card-title-size KR-font">{{ card.title }}</h5>
            <p class="card-text card-text-size">
              {{ card.desc }}
            </p>
          </div>
        </a>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock content %}
