{% extends "board/base.html" %}
{% block content %}
{% load static %}
{% if user.is_authenticated %}
<div class="container-fluid p-1 pt-2">
  <p class="emphasis-font" style="margin-bottom: 1px;"><img src="{% static 'icons/person-circle.svg' %}" width="24" height="24"> MY CARDS</p>
  <div class="row m-0">
    {% for card in cards %}
    <div id="card_dom{{card.id}}" class="col-sm-6 col-lg-4 col-xl-3 col-xxl-2 p-1">
      <div class="card border-0">
        {% if card.image %}
        <img src="{{ card.image.url }}" class="card-img">
        {% else %}
        <div class="card-img"></div>
        {% endif %}
        <a href="{% url 'card-content' card.id %}">
          <div class="card-body text-dark p-2" style="background-color: {{ card.card_color }};">
            <span class="pub-icon-style float-end" style="margin-right:0px;" onclick="move_card(event, {{card.id}}, 'down')"><img src="{% static 'icons/chevron-right.svg'%}" width="16" height="16"></span>
            <span class="pub-icon-style float-end" style="margin-right:0px;" onclick="move_card(event, {{card.id}}, 'up')"><img src="{% static 'icons/chevron-left.svg' %}" width="16" height="16"></span>
            <h5 class="card-title card-title-size KR-font">{{ card.title }}</h5>
            <p class="card-text card-text-size">
              {{ card.desc }}
            </p>
          </div>
        </a>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endif %}


{% endblock content %}

{% block script %}
<script>
  
  function move_card(e, id, up_down) {
    e.preventDefault();
    let request = new XMLHttpRequest();
    request.open("POST", "{% url 'card-move' %}", true);
    request.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
    request.onreadystatechange = function() {
      if(this.readyState === 4 && this.status === 200) {
        let target_card_id = JSON.parse(this.responseText).target_card_id;
        if(target_card_id != "none") {
          let dom_origin = document.getElementById('card_dom'+id);
          let dom_target = document.getElementById('card_dom'+target_card_id);
          exchangeElements(dom_origin, dom_target);
        };
      };
    }
    let formData = new FormData();
    formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');
    formData.append('card_id', id);
    formData.append('up_down', up_down);
    request.send(formData);
  }
  function exchangeElements(element1, element2)
  {
    var clonedElement1 = element1.cloneNode(true);
    var clonedElement2 = element2.cloneNode(true);
    element2.parentNode.replaceChild(clonedElement1, element2);
    element1.parentNode.replaceChild(clonedElement2, element1);
    return clonedElement1;
  }
  
</script>
{% endblock script %}