{% extends "board/base.html" %}
{% block style %}
<style>
  .th-img-chosen {
    height: 200px;
    width: 200px;
    object-fit: cover;
    overflow: hidden;
    border-radius: 8px;
    margin-top: 4px;
    margin-bottom: 2px;
  }
</style>
{% endblock style %}

{% block content %}
{% load crispy_forms_tags %}
{% load static %}
<div class="container-fluid p-0 m-0 bg-gray-200">
  <div class="border-bottom m-0 p-1 py-1 h4" style="background-color: {{ card.card_color }}">
    {% if update %}
    Update post for <b>{{ card.title }}</b>
    {% else %}
    New post for <b>{{ card.title }}</b>
    {% endif %}
    {% if card.is_public %}
    <span class="float-end">(<img src="{% static 'icons/people-fill.svg' %}" width="20" height="20">)</span>
    {% if card.is_official %}
    <span class="float-end me-1"><img src="{% static 'board/IssueTracker_Logo.png' %}" width="24" height="24"></span>
    {% endif %}
    {% endif %}
  </div>
  <form method="POST" class="p-1" enctype="multipart/form-data" autocomplete="off" onsubmit="holdon(event)">
    {% csrf_token %}
    <fieldset>
      <p class="m-0 p-0">Title</p>
      {{ form.title }}
      <p class="m-0 p-0">Content</p>
      {{ form.content }}
      {% if num_images >= 1 %}<img src="{{ th_image1.url }}" alt="" class="post-img-update">{% endif %} 
      {% if num_images >= 2 %}<img src="{{ th_image2.url }}" alt="" class="post-img-update">{% endif %} 
      {% if num_images >= 3 %}<img src="{{ th_image3.url }}" alt="" class="post-img-update">{% endif %} 
      {% if num_images >= 4 %}<img src="{{ th_image4.url }}" alt="" class="post-img-update">{% endif %} 
      {% if num_images >= 5 %}<img src="{{ th_image5.url }}" alt="" class="post-img-update">{% endif %} 
      {% if num_images >= 6 %}<img src="{{ th_image6.url }}" alt="" class="post-img-update">{% endif %} 
      {% if num_images >= 7 %}<img src="{{ th_image7.url }}" alt="" class="post-img-update">{% endif %} 
      
      <div class="row m-0 p-0">
        <div class="col m-0 p-0">
          <img hidden id="image-preview0" src="" class="th-img-chosen">
          <img hidden id="image-preview1" src="" class="th-img-chosen">
          <img hidden id="image-preview2" src="" class="th-img-chosen">
          <img hidden id="image-preview3" src="" class="th-img-chosen">
          <img hidden id="image-preview4" src="" class="th-img-chosen">
          <img hidden id="image-preview5" src="" class="th-img-chosen">
          <img hidden id="image-preview6" src="" class="th-img-chosen">
        </div>
      </div>
      
      <input id="images_input" hidden type="file" multiple name="mimages" class="form-control" accept="image/*" onchange="updatePreview(this, 'image-preview')" >
      <div class="d-flex align-items-center justify-content-between ms-0 m-1"><button id="drop-area" class="btn btn-sm btn-warning p-1 fw-bold" onclick="addimg(event)">Add images</button><span class="small text-muted" id="img_notification"></span></div>
      <p class="m-0 p-0">Tags</p>
      <p class="mb-1 m-0 p-0">{{ form.tags }}</p>
      {% if update %}
      <div class="form-check mb-2">
        <input class="form-check-input" type="checkbox" value="checked" name="update_date_posted" checked>
        update date posted
      </div>
      {% endif %}
      <div id="holdon_area">
        <button id="post-cu-button" class="btn btn-primary btn-sm mb-2 me-1 float-end" type="submit">
          {% if update %}Update{% else %}Create{% endif %}
        </button>
      </div>
      <input type="button" id="post-cu-cancel-button" class="btn btn-outline-secondary btn-sm mb-2" value="cancel" onclick="javascript:history.go(-1);">
    </fieldset>
  </form>
</div>
<script>
  function addimg(event) {
    event.preventDefault();
    document.getElementById("images_input").click();
  }
  
  const dropArea = document.getElementById('drop-area');
  
  dropArea.addEventListener('dragover', (event) => {
    event.stopPropagation();
    event.preventDefault();
    event.dataTransfer.dropEffect = 'copy';
  });
  
  dropArea.addEventListener('drop', (event) => {
    event.stopPropagation();
    event.preventDefault();
    updatePreview(event.dataTransfer, 'image-preview');
    document.getElementById("images_input").files = event.dataTransfer.files;
    let ln = event.dataTransfer.files.length;
    document.getElementById("img_notification").innerText = `${ln}/7 images are chosen`;
  });
  
  function updatePreview(input, target) {
    const files = input.files;
    const arr = Array.from(files);

    console.log(input.files);

    let ln = input.files.length;
    document.getElementById("img_notification").innerText = `${ln}/7 images are chosen`;
    
    arr.forEach((file, index) => {
      if (index < 7) {
        let reader = new FileReader();
        reader.readAsDataURL(file);
        reader.onload = function () {
          let img = document.getElementById(target+index);
          img.src = this.result;
          img.removeAttribute('hidden');
          img.onerror = function () {
            console.log("image fake!!!!!!!!!!!!"); 
          }
        }
      }
    })
  }

  function holdon(e) {
    let sbutton = document.getElementById("post-cu-button");
    sbutton.style.display = 'none';
    let cbutton = document.getElementById("post-cu-cancel-button");
    cbutton.value = "go back"
    submit1();
  }; 
  
  function submit1() {
    document.getElementById("holdon_area").innerHTML = 
    `
    <div class="mb-2 me-2 small text-muted float-end">
    </div>
    `
    setTimeout(submit2, 1000);
  }
  
  function submit2() {
    document.getElementById("holdon_area").innerHTML = 
    `
    <div class="mb-2 me-2 small text-muted float-end">
      submitting...
    </div>
    `
    setTimeout(submit1, 3000);
  }
  
  
</script>
{% endblock content %}