<!-- this html is for to-be included in post_detail.html and card_content.html -->

{% load static %}
<div class="row m-0 mt-1">
  <div class="col-8 p-0">
    <div class="clearfix">
      <img class="mt-1 ms-1 float-start user-image-small me-2" src="{{ post.author.profile.image.url }}">
      <a class="text-dark fw-bold" href="{% url 'author-posts' post.author.id %}">{{ post.author }}</a><br>
      <small class="text-muted">{{ post.date_posted|date:"M d, Y H:i" }}</small>
    </div>
  </div>
  <div class="col-4 p-0 d-flex align-items-center justify-content-end">
    {% if post.author == user or post.card.owner == user %}
    <a class="me-2" href="{% url 'post-update' post.id %}"><img src="{% static 'icons/gear-fill.svg' %}" width="24" height="24"></a>
    <a class="me-2" data-bs-toggle="collapse" data-bs-target="#delete_post{{post.id}}"><img src="{% static 'icons/trash.svg' %}" width="24" height="24"></a>
    {% endif %}
    <span id="modal_close_top"></span>
  </div>
</div>

<!-- delete collapse part start -->

<div class="row m-0">
  <div class="collapse p-0" id="delete_post{{post.id}}">
    <div id="divider-bar" style="background-color:{{post.card.card_color}}"></div>
    <div class="d-flex align-items-center justify-content-end">
      <span class="me-2">Delete?</span>
      <form method="POST" action="{% url 'post-delete' post.id %}">
        {% csrf_token %}<input type="submit" class="btn btn-sm btn-outline-danger me-2 my-1" value="confirm"></input>
      </form>
      <button type="button" data-bs-toggle="collapse" data-bs-target="#delete_post{{post.id}}" class="btn btn-sm btn-outline-dark me-1 my-1">no</button>
    </div>
  </div>
</div>

<!-- delete collapse part end -->
<div id="divider-bar" class="m-0" style="background-color:{{post.card.card_color}}"></div>
<div class="row m-0">
  <div class="col my-1 pe-1">
    {% for tag in post.tags.all %}
    <a href="{% url 'tag-posts' tag.id %}" class="float-end ms-1 badge bg-gray-200 text-dark">#{{ tag }}</a>
    {% endfor %}
  </div>
</div>
<div class="row m-0">
  {% if post.image1s and post.image2s %}
  <div class="col-xl-8 mt-1 p-0">
    <div id="carousel_indicators{{post.id}}" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carousel_indicators{{post.id}}" data-bs-slide-to="0" class="active"></button>
        <button type="button" data-bs-target="#carousel_indicators{{post.id}}" data-bs-slide-to="1"></button>
        {% if post.image3s %}
        <button type="button" data-bs-target="#carousel_indicators{{post.id}}" data-bs-slide-to="2"></button>
        {% endif %}
        {% if post.image4s %}
        <button type="button" data-bs-target="#carousel_indicators{{post.id}}" data-bs-slide-to="3"></button>
        {% endif %}
        {% if post.image5s %}
        <button type="button" data-bs-target="#carousel_indicators{{post.id}}" data-bs-slide-to="4"></button>
        {% endif %}
        {% if post.image6s %}
        <button type="button" data-bs-target="#carousel_indicators{{post.id}}" data-bs-slide-to="5"></button>
        {% endif %}
        {% if post.image7s %}
        <button type="button" data-bs-target="#carousel_indicators{{post.id}}" data-bs-slide-to="6"></button>
        {% endif %}
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <a href="{% url 'post-images' post.id %}"><img src="{{ post.image1s.url }}" class="d-block w-100 rounded"></a>
        </div>
        <div class="carousel-item">
          <a href="{% url 'post-images' post.id %}"><img src="{{ post.image2s.url }}" class="d-block w-100 rounded"></a>
        </div>
        {% if post.image3s %}
        <div class="carousel-item">
          <a href="{% url 'post-images' post.id %}"><img src="{{ post.image3s.url }}" class="d-block w-100 rounded"></a>
        </div>
        {% endif %}
        {% if post.image4s %}
        <div class="carousel-item">
          <a href="{% url 'post-images' post.id %}"><img src="{{ post.image4s.url }}" class="d-block w-100 rounded"></a>
        </div>
        {% endif %}
        {% if post.image5s %}
        <div class="carousel-item">
          <a href="{% url 'post-images' post.id %}"><img src="{{ post.image5s.url }}" class="d-block w-100 rounded"></a>
        </div>
        {% endif %}
        {% if post.image6s %}
        <div class="carousel-item">
          <a href="{% url 'post-images' post.id %}"><img src="{{ post.image6s.url }}" class="d-block w-100 rounded"></a>
        </div>
        {% endif %}
        {% if post.image7s %}
        <div class="carousel-item">
          <a href="{% url 'post-images' post.id %}"><img src="{{ post.image7s.url }}" class="d-block w-100 rounded"></a>
        </div>
        {% endif %}
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carousel_indicators{{post.id}}" data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carousel_indicators{{post.id}}" data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
  <div class="col-xl-4 p-0">
    {% if post.title != '' %}
    <p class="article-content m-2 text-break fw-bold fs-5">{{ post.title }}</p>
    {% endif %}
    <div class="article-content m-2 text-break">{% if post.is_html %}{{ post.content | safe }}{% else %}{{ post.content }}{% endif %}</div>
  </div>
  {% elif post.image1s %}
  <div class="col-xl-8 p-0 mt-1">
    <a href="{% url 'post-images' post.id %}"><img src="{{ post.image1s.url }}" class="d-block w-100 rounded"></a>
  </div>
  <div class="col-xl-4 p-0">
    {% if post.title != '' %}
    <p class="article-content m-2 text-break fw-bold fs-5">{{ post.title }}</p>
    {% endif %}
    <div class="article-content m-2 text-break">{% if post.is_html %}{{ post.content | safe }}{% else %}{{ post.content }}{% endif %}</div>
  </div>
  {% else %}
  <div class="col p-0">
    {% if post.title != '' %}
    <p class="article-content m-2 text-break fw-bold fs-5">{{ post.title }}</p>
    {% endif %}
    <div class="article-content m-2 text-break">{% if post.is_html %}{{ post.content | safe }}{% else %}{{ post.content }}{% endif %}</div>
  </div>
  {% endif %}
</div>

<div hidden id="id_coord{{post.id}}" class="alert alert-warning p-1 m-1" role="alert" onclick="event.preventDefault(); document.getElementById('id_coord{{post.id}}').setAttribute('hidden', '');">
  x: {{ post.xlongitude }}, y: {{ post.ylatitude }} <!-- LATER IMPLEMENT THIS AS A MAP -->
</div>

<div class="row m-0 mt-1 bg-gray-100">
  <div class="col p-1 m-0">
    {% if card.is_geocard and post.xlongitude and post.ylatitude %}
    <a href="" class="small text-muted" onclick="event.preventDefault(); document.getElementById('id_coord{{post.id}}').removeAttribute('hidden');"><img src="{% static 'icons/map-fill.svg' %}" class="ms-1 mb-1" width="17" height="17"> location</a>
    {% endif %}
    {% if post.card.is_public %}
    <a href class="p-0 m-0 ms-2 me-1 float-end" data-bs-toggle="collapse" data-bs-target="#post_options{{post.id}}"><img src="{% static 'icons/three-dots.svg' %}" width="22" height="22"></a>
    <span id="vote_meter_post{{post.id}}">
      {% if user.is_authenticated %}
      <span class="float-end me-1">{% if post.dislikes.count > 0 %}{{ post.dislikes.count }}{%endif%}</span>
      {% if user in post.dislikes.all %}
      <span class="p-0 m-0 ms-1 float-end" onclick="vote_click({{post.id}}, 'down', 'post')"><img src="{% static 'icons/down-arrow-fill.svg' %}" width="22" height="22"></span>
      {% else %}
      <span class="p-0 m-0 ms-1 float-end" onclick="vote_click({{post.id}}, 'down', 'post')"><img src="{% static 'icons/down-arrow.svg' %}" width="22" height="22"></span>
      {% endif %}
      <span class="float-end me-1">{% if post.likes.count > 0 %}{{ post.likes.count }}{%endif%}</span>
      {% if user in post.likes.all %}
      <span class="p-0 m-0 float-end" onclick="vote_click({{post.id}}, 'up', 'post')"><img src="{% static 'icons/up-arrow-fill.svg' %}" width="22" height="22"></span>
      {% else %}
      <span class="p-0 m-0 float-end" onclick="vote_click({{post.id}}, 'up', 'post')"><img src="{% static 'icons/up-arrow.svg' %}" width="22" height="22"></span>
      {% endif %}
      {% else %}
      <span class="float-end me-1">{% if post.dislikes.count > 0 %}{{ post.dislikes.count }}{%endif%}</span>
      <span class="p-0 m-0 ms-1 float-end"><img src="{% static 'icons/down-arrow.svg' %}" width="22" height="22"></span>
      <span class="float-end me-1">{% if post.likes.count > 0 %}{{ post.likes.count }}{%endif%}</span>
      <span class="p-0 m-0 float-end"><img src="{% static 'icons/up-arrow.svg' %}" width="22" height="22"></span>
      {% endif %}
    </span>
    <a href class="p-0 m-0 me-2 float-end" onclick="share_post(event, {{post.id}}, '{{post.content|truncatechars:30|striptags}}')"><img src="{% static 'icons/share.svg' %}" width="22" height="22"></a>
    {% else %}
    <a href="{% url 'card-select' %}?rt=publish&pid={{post.id}}" class="btn btn-outline bg-orange-400 btn-sm float-end px-1 py-0 m-0 fw-bold" style="width: 40px;" onclick="">pub</a>
    <a href="{% url 'card-select' %}?rt=move&cid={{card.id}}&pid={{post.id}}" class="btn btn-outline bg-yellow-500 btn-sm float-end px-1 py-0 m-0 mx-1 fw-bold" style="width: 40px;" onclick="">mov</a>
    <span id="vote_meter_post{{post.id}}">
      {% if user in post.likes.all %}
      <span class="p-0 m-0 me-1 float-end" onclick="vote_click({{post.id}}, 'up', 'post', false)"><img src="{% static 'icons/up-arrow-fill.svg' %}" width="22" height="22"></span>
      {% else %}
      <span class="p-0 m-0 me-1 float-end" onclick="vote_click({{post.id}}, 'up', 'post', false)"><img src="{% static 'icons/up-arrow.svg' %}" width="22" height="22"></span>
      {% endif %}
    </span>
    {% endif %}
  </div>
</div>

<!-- post options collapse part start -->
<div class="collapse p-0" id="post_options{{post.id}}">
  {% if user.is_authenticated %}
  <form method="POST" id="reportform_post{{post.id}}" autocomplete="off" onsubmit="submit_report(event, {{user.id}}, {{post.id}}, 'post')">
    {% csrf_token %}
    <div class="row m-1 p-0 d-flex justify-content-end">
      <div class="col-6 m-0 p-0 me-1">
        <input type="text" class="form-control form-control-sm" placeholder="report issues" name="report_content" id="reportcontent_post{{post.id}}">
      </div>
      <div class="col-auto m-0 p-0">
        <input type="submit" class="btn btn-sm btn-outline-danger" value="submit" data-bs-toggle="collapse" data-bs-target="#post_options{{post.id}}">
      </div>
    </div>
  </form>
  {% endif %}
</div>
<div class="row m-0 p-0">
  <div class="col m-0 p-0">
    <span id="reportresult_post{{post.id}}" class="float-end mx-2 text-muted"></span>
  </div>
</div>
<!-- post options collapse part end -->

<div class="row m-0 p-0">
  <div class="col m-0 p-0">
    <span id="modal_close_middle"></span>
  </div>
</div>

<div class="row m-0 p-1">
  <span id="commentscounter{{post.id}}" class="p-1 mt-2 emphasis-font small"></span>
  <div id="comments_list{{post.id}}" class="p-1 mt-1">
  </div>
  {% load crispy_forms_tags %}
  {% if user.is_authenticated %}
  <div class="p-1 mt-2"> 
    <form id="commentForm{{post.id}}" method="POST">
      {% csrf_token %}
      {{ form | crispy }}
      <input type="button" class="btn btn-outline-secondary btn-sm" value="clear" onclick="clear_commentForm(event, {{post.id}})">
      <button class="float-end btn btn-sm bg-blue-200" onclick="comment_submit(event, {{post.id}})">submit</button>
    </form>
  </div>
  {% endif %}
</div>
<span id="modal_close_bottom"></span>
<br><br>

