{% extends "board/base.html" %}

{% block content %}
{% load crispy_forms_tags %}
{% load static %}
<div class="container-fluid p-0 m-0 bg-gray-200">
  <div class="border-bottom m-0 p-1 py-1 h4" style="background-color: {{ card.card_color }}">
    {% if update %}
    Update post for <b>{{ card.title }}</b>
    {% else %}
    New post for <b>{{ card.title }}</b>
    {% endif %}
    {% if card.is_public %}
    <span class="float-end">(<img src="{% static 'icons/people-fill.svg' %}" width="20" height="20">)</span>
    {% if card.is_official %}
    <span class="float-end me-1"><img src="{% static 'board/IssueTracker_Logo.png' %}" width="24" height="24"></span>
    {% endif %}
    {% endif %}
  </div>
  <form method="POST" class="p-1" enctype="multipart/form-data" autocomplete="off" onsubmit="holdon(event)">
    {% csrf_token %}
    <fieldset>
      <p class="m-0 p-0">Title</p>
      {{ form.title }}
      <p class="m-0 p-0">Content</p>
      {{ form.content }}
      <p class="m-0 p-0">Images</p>
      <div class="row m-0 p-0 row-cols-auto text-muted">
        {% for img in image_range %}
        <div {% if forloop.counter > num_images %}hidden{% endif %} id="image-preview{{forloop.counter}}-div" class="col m-0 p-0 align-top">
          <i class="bi bi-{{forloop.counter}}-square me-1"></i>
          <div class="row m-0 p-0">
            <div class="col m-0 p-0">
            {% if forloop.counter <= num_images %}
            <a id='image_input{{forloop.counter}}_alink' data-bs-toggle="collapse" data-bs-target="#edit_image{{forloop.counter}}"><img id="image-preview{{forloop.counter}}" src="{{ img.url }}" alt="" class="th-img-style me-1"></a>
            {% else %}
            <a data-bs-toggle="collapse" data-bs-target="#edit_image{{forloop.counter}}"><img id="image-preview{{forloop.counter}}" src="" alt="" class="th-img-style me-1"></a>
            {% endif %}
            <div class="collapse" id="edit_image{{forloop.counter}}">
              <button type="button" class="btn float-end btn-sm btn-danger px-1 py-0 me-1 mt-1 mb-2" onclick="delimg(event, {{forloop.counter}})">del</button>
              <button type="button" class="btn float-end btn-sm btn-warning px-1 py-0 me-1 mt-1 mb-2" onclick="addimg(event, {{forloop.counter}})">replace</button>
            </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
          
      {{ form.image1_input }}
      {{ form.image2_input }}
      {{ form.image3_input }}
      {{ form.image4_input }}
      {{ form.image5_input }}
      {{ form.image6_input }}
      {{ form.image7_input }}
      <input id="id_mimages" hidden type="file" multiple name="mimages" class="form-control" accept="image/*" onchange="updatePreview_multi(this)" >
      <input id="id_mimage_keys" type="text" name="mimage_keys" class="form-control">
      <div class="d-flex align-items-center ms-0 m-1 mt-2">
        {% for img in image_range %}
        {% if forloop.counter <= num_images %}
        <button hidden id="imgbtn{{forloop.counter}}" class="btn btn-sm btn-warning p-1 px-2 me-2 fw-bold" onclick="addimg(event, {{forloop.counter}})">{{forloop.counter}}</button>
        {% else %}
        <button id="imgbtn{{forloop.counter}}" class="btn btn-sm btn-warning p-1 px-2 me-2 fw-bold" onclick="addimg(event, {{forloop.counter}})">{{forloop.counter}}</button>
        {% endif %}
        {% endfor %}
        <button id="all-drop-area" class="btn btn-sm btn-success p-1 px-2 me-2 fw-bold" onclick="add_multi(event)">all / drop</button>
      </div>
      <p class="m-0 p-0">Tags</p>
      <p class="mb-1 m-0 p-0">{{ form.tags }}</p>
      {% if update %}
      <div class="form-check mb-2">
        <input class="form-check-input" type="checkbox" value="checked" name="update_date_posted" checked>
        update date posted
      </div>
      {% endif %}
      <div id="holdon_area">
        <button id="post-cu-button" class="btn btn-primary btn-sm mb-2 me-1 float-end" type="submit">
          {% if update %}Update{% else %}Create{% endif %}
        </button>
      </div>
      <input type="button" id="post-cu-cancel-button" class="btn btn-outline-secondary btn-sm mb-2" value="cancel" onclick="javascript:history.go(-1);">
    </fieldset>
  </form>
</div>
{% endblock content %}
{% block script %}
<script>
  String.prototype.replaceAt = function(index, character) {
      if (this.length > index) {
        return this.substr(0, index) + character + this.substr(index+character.length);
      }
      else { 
        return this; 
      }
  };

  const mik = document.getElementById('id_mimage_keys');
  mik.value = '';

  function addimg(event, num) {
    event.preventDefault();
    let n = num.toString();
    document.getElementById("id_image"+n+"_input").click();
    let del_checkbox = document.getElementById("image"+n+"_input-clear_id");
    if (del_checkbox != null) {
      del_checkbox.checked = false;
    }
    mik.value = mik.value.replaceAt(n-1, '_');
  }

  function add_multi(event) {
    event.preventDefault();
    document.getElementById("id_mimages").click();
  }
  
  function delimg(event, num) {
    event.preventDefault();
    delimg_(num);
    mik.value = mik.value.replaceAt(num-1, '_');
  }
  
  function delimg_(num) {
    let n = num.toString();
    let del_checkbox = document.getElementById("image"+n+"_input-clear_id");
    if (del_checkbox != null) {
      del_checkbox.checked = true;
    }
    document.getElementById("id_image"+n+"_input").value="";
    document.getElementById('image-preview'+n).src = "";
    document.getElementById("image-preview"+n+"-div").setAttribute('hidden', '');
    document.getElementById("imgbtn"+n).removeAttribute('hidden');
    let bsCollapse = new bootstrap.Collapse("#edit_image"+n, {
      toggle: false
    });
    bsCollapse.hide();
  }

  function delimg_all() {
    for (i=1; i<8; i++) {
      delimg_(i)
    }
  }
  
  function updatePreview(input, num_text) {
    let n = num_text[5]; 
    let reader = new FileReader();
    reader.readAsDataURL(input.files[0]);
    reader.onload = function () {
      document.getElementById('image-preview'+n).src = this.result;
      document.getElementById('image-preview'+n+"-div").removeAttribute('hidden');
      document.getElementById("imgbtn"+n).setAttribute('hidden', '');
      let bsCollapse = new bootstrap.Collapse("#edit_image"+n, {
        toggle: false
      });
      bsCollapse.hide();
    }
  }

  function updatePreview_multi(input) {
    const files = input.files;
    const arr = Array.from(files);
    let mkeys = '';
    delimg_all(); 
    
    arr.forEach((file, index) => {
      if (index < 7) {
        let n = (index+1).toString();
        mkeys += n;
        let reader = new FileReader();
        reader.readAsDataURL(file);
        reader.onload = function () {
          document.getElementById('image-preview'+n).src = this.result;
          document.getElementById('image-preview'+n).onerror = function() {
            mkeys = mkeys.replaceAt(n-1, '_');
            mik.value=mkeys;
          }; 
          document.getElementById('image-preview'+n+"-div").removeAttribute('hidden');
          document.getElementById("imgbtn"+n).setAttribute('hidden', '');
          let bsCollapse = new bootstrap.Collapse("#edit_image"+n, {
            toggle: false
          });
          bsCollapse.hide();
        }
      }
    })
    mik.value=mkeys;
  }

  const dropArea = document.getElementById('all-drop-area');
  
  dropArea.addEventListener('dragover', (event) => {
    event.stopPropagation();
    event.preventDefault();
    event.dataTransfer.dropEffect = 'copy';
  });
  
  dropArea.addEventListener('drop', (event) => {
    event.stopPropagation();
    event.preventDefault();
    document.getElementById("multi_img_select").files = event.dataTransfer.files;
    updatePreview_multi(event.dataTransfer);
  });
  
  function holdon(e) {
    let sbutton = document.getElementById("post-cu-button");
    sbutton.style.display = 'none';
    let cbutton = document.getElementById("post-cu-cancel-button");
    cbutton.value = "go back"
    submit1();
  }; 
  
  function submit1() {
    document.getElementById("holdon_area").innerHTML = 
    `
    <div class="mb-2 me-2 small text-muted float-end">
    </div>
    `
    setTimeout(submit2, 1000);
  }
  
  function submit2() {
    document.getElementById("holdon_area").innerHTML = 
    `
    <div class="mb-2 me-2 small text-muted float-end">
      submitting...
    </div>
    `
    setTimeout(submit1, 3000);
  }
</script>
{% endblock script %}