{% load static %}
<script>
function vote_click(id, up_down) {
  let request = new XMLHttpRequest();
  request.open("POST", "{% url 'post-vote' %}", true);
  request.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
  request.onreadystatechange = function() {
    if(this.readyState === 4 && this.status === 200) {
      let dict = this.responseText;
      let fill_status = JSON.parse(dict).fill_status;
      let obj = JSON.parse(JSON.parse(dict).instance)[0].fields;
      let num_likes = obj.likes.length;
        
      let var_for_card_content_html_page = document.getElementById('listpagecounter'+{{post.id}})
      if (var_for_card_content_html_page != null ) {
        var_for_card_content_html_page.innerHTML = num_likes + " " + "likes";
      }
      if(fill_status === "neither") {
        document.getElementById("vote_meter_"+id).innerHTML= 
        `
        <span class="p-0 m-0 float-end" onclick="vote_click(${id}, 'down')"><img src="{% static 'icons/hand-thumbs-down.svg' %}" width="22" height="22"></span>
        <span class="p-0 m-0 me-1 float-end">(${num_likes})</span>
        <span class="p-0 m-0 float-end" onclick="vote_click(${id}, 'up')"><img src="{% static 'icons/hand-thumbs-up.svg' %}" width="22" height="22"></span>
        `
      }else if(fill_status === "up"){
        document.getElementById("vote_meter_"+id).innerHTML= 
        `
        <span class="p-0 m-0 float-end" onclick="vote_click(${id}, 'down')"><img src="{% static 'icons/hand-thumbs-down.svg' %}" width="22" height="22"></span>
        <span class="p-0 m-0 me-1 float-end">(${num_likes})</span>
        <span class="p-0 m-0 float-end" onclick="vote_click(${id}, 'up')"><img src="{% static 'icons/hand-thumbs-up-fill.svg' %}" width="22" height="22"></span>
        `
      }else if(fill_status === "down"){
        document.getElementById("vote_meter_"+id).innerHTML= 
        `
        <span class="p-0 m-0 float-end" onclick="vote_click(${id}, 'down')"><img src="{% static 'icons/hand-thumbs-down-fill.svg' %}" width="22" height="22"></span>
        <span class="p-0 m-0 me-1 float-end">(${num_likes})</span>
        <span class="p-0 m-0 float-end" onclick="vote_click(${id}, 'up')"><img src="{% static 'icons/hand-thumbs-up.svg' %}" width="22" height="22"></span>
        `
      };
    };
  };
  let formData = new FormData();
  formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');
  formData.append('post_id', id);
  formData.append('up_down', up_down);
  request.send(formData);
};
  
function render_comments(post_id, page) {
  let request = new XMLHttpRequest();
  request.open("GET", "{% url 'comment-list' 1000 %}?page=".replace('1000', post_id.toString())+page.toString(), true);
  request.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
  request.onreadystatechange = function() {
    if(this.readyState === 4 && this.status === 200) {
      document.getElementById('comments_list'+post_id).innerHTML = this.responseText;
    };
  };
  request.send();
}
render_comments({{post.id}}, 1);
  
function comment_submit(event, post_id) {
  event.preventDefault();
  let comment = document.querySelector("#commentForm"+post_id+" #id_content");
  if(comment.value == "") {
    comment.focus();
    return;
  }
  let request = new XMLHttpRequest();
  request.open("POST", "{% url 'comment-new' 1000 %}".replace('1000', post_id.toString()), true);
  request.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
  request.onreadystatechange = function() {
    if(this.readyState === 4 && this.status === 200) {
      render_comments(post_id, 1);
    }; 
  };
  let commentForm = document.getElementById("commentForm"+post_id);
  var formData = new FormData(commentForm);
  formData.append('request_type', 'create');
  commentForm.reset();
  request.send(formData);
}; 
  
function comment_del(event, comment_id) {
  event.preventDefault();
  let request = new XMLHttpRequest();
  request.open("POST", "{% url 'comment-mgmt' 1000 %}".replace('1000', comment_id.toString()), true);
  request.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
  request.onreadystatechange = function() {
    if(this.readyState === 4 && this.status === 200) {
      render_comments({{post.id}}, 1);
    };
  };
  let formData = new FormData();
  formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');
  formData.append('request_type', 'delete');
  request.send(formData);
}
  
function comment_edit(event, comment_id) {
  event.preventDefault();
  let to_edit = document.getElementById('comment_'+comment_id.toString()+'_content').innerText;
  document.getElementById('comment_'+comment_id.toString()+'_content').innerHTML = 
  `
  <form class="my-1">
  <textarea class="form-control" id="comment-edit-form_comment_id" rows="4"></textarea>
  <button type="submit" class="btn btn-sm bg-yellow-200 mt-1 mb-2" onclick="comment_edit_confirm(event, comment_id)">confirm</button>
  <button type="" class="btn btn-outline-secondary btn-sm float-end mt-1 mb-2" onclick="comment_cancel(event, comment_id)">cancel</button>
  </form>
  `.replace('comment_id', comment_id.toString()).replace('comment_id', comment_id.toString()).replace('comment_id', comment_id.toString());
  let form = document.getElementById("comment-edit-form_"+comment_id.toString());
  form.value=to_edit; 
  form.focus();
}
  
function comment_edit_confirm(event, comment_id) {
  event.preventDefault();
  let form = document.getElementById("comment-edit-form_"+comment_id.toString());
  if(form.value == "") {
    form.focus();
    return;
  }
  let request = new XMLHttpRequest();
  request.open("POST", "{% url 'comment-mgmt' 1000 %}".replace('1000', comment_id.toString()), true);
  request.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
  request.onreadystatechange = function() {
    if(this.readyState === 4 && this.status === 200) {
      document.getElementById('comment_'+comment_id.toString()+'_content').innerHTML = '<pre>'+form.value+'</pre>';
    };
  };
  let formData = new FormData();
  formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');
  formData.append('request_type', 'update');
  formData.append('content', form.value);
  request.send(formData);
}
  
function comment_cancel(event, comment_id) {
  event.preventDefault();
  let request = new XMLHttpRequest();
  request.open("GET", "{% url 'comment-mgmt' 1000 %}".replace('1000', comment_id.toString()), true);
  request.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
  request.onreadystatechange = function() {
    if(this.readyState === 4 && this.status === 200) {
      let res = JSON.parse(this.responseText).content;
      document.getElementById('comment_'+comment_id.toString()+'_content').innerHTML = '<pre>'+res+'</pre>';
    }; 
  };
  request.send();
}
  
function clear_commentForm(event) {
  event.preventDefault();
  let comment = document.querySelector("#commentForm{{post.id}} #id_content");
  comment.value = "";
  comment.focus();
}
</script>