{% extends "board/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container-xxl">
	<div class="content-section">
		<form method="POST">
			{% csrf_token %}
			<fieldset class ="form-group">
				<legend class="border-bottom mb-4">Reset Password</legend>
				{{ form | crispy }}
			</fieldset>
			<div class="from-group">
				<button class="btn btn-secondary type="submit">Request Password Reset</button>
			</div>
		</form>
		<div class="text-muted small mt-2">(please enter the email address used when you registered)</div>
	</div>
</div>
{% endblock content %}

