{% extends "board/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container-fluid">
	<div class="content-section">
		<form method="POST" autocomplete='off'>
			{% csrf_token %}
			<fieldset class ="form-group">
				<legend class="border-bottom mb-4">Join Today</legend>
				{{ form | crispy }}
			</fieldset>
			<div class="from-group">
				<button class="btn btn-primary mb-2" type="submit">Sign Up</button>
			</div>
		</form>
		<div class="border-top pt-3">
			<small class="text-muted">
				Already Have An Account? <a class="ms-2" href="{% url 'login' %}">Sign In</a>
			</small>
		</div>
	</div>
</div>
{% endblock content %}
