{% extends "board/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<div class="container-xxl">
	<div id="notice_area"></div>
	<div class="content-section" id="register_form_dispaly">
		<form method="POST" autocomplete='off' onsubmit="holdon(event)" id="register_form">
			{% csrf_token %}
			<fieldset class ="form-group">
				<legend class="border-bottom mb-4">Join Today</legend>
				{{ form | crispy }}
			</fieldset>
			<div class="from-group">
				<button class="btn btn-primary mb-2" type="submit">Sign Up</button>
				<button class="float-end btn btn-outine mb-2" type="reset">clear</button>
			</div>
		</form>
		<div class="border-top pt-3">
			<small class="text-muted">
				Already Have An Account? <a class="ms-2" href="{% url 'login' %}">Sign In</a>
			</small>
		</div>
	</div>
</div>
{% endblock content %}

{% block script %}
<script>
	function holdon(e) {
		let form = document.getElementById("register_form_dispaly");
		form.style.display = 'none';
		document.getElementById("notice_area").innerHTML = 
		`
		<div class="m-2">processing...</div>
		<div class="progress m-2">
  		<div class="progress-bar w-100 progress-bar-striped progress-bar-animated" role="progressbar"></div>
		</div>
		`
	}; 
</script>
{% endblock script %}
