{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
  <div class="row gy-3 mt-1">
    <div class="col-md-6">
      <h3 id="goal-of-the-issuetracker">Goal of the IssueTracker</h3>
      <p>IssueTracker lets tracking of various issues that we face everyday. The focus is on &quot;I&quot; rather than &quot;others&quot;</p>
      <p>As stages of our lives move on, environment/job/interest/network changes, responsibilities/rights/duties change, knowledge/belief/way of thinking changes, and as a result, we come to think of variety of topics in different ways and let them pass through our minds rather than building them up on another</p>
      <p>IssueTracker is intended to help memorizing what &quot;the wise I in the past&quot; thought on various topics, help communicating with &quot;the wise I in the past&quot;, and help advancing &quot;the current I&quot; on current issues</p>
      <p>At the same time, in IssueTracker, one can also get help from others, be motivated by others, and one can help/motivate others as well. All these can be done in a simple social-networking-design as described below</p>
      <hr />
      <h3 id="issuetracker-key-features">IssueTracker Key Features</h3>
      <ol>
        <li><p>Registration and Log-in required as this is for &quot;I&quot;</p>
          <ul>
            <li>One can use IssueTracker immediately after registration</li>
            <li>In order for one to &quot;publish&quot; one's own posts, or &quot;import&quot; posts from others, &quot;comment&quot; on the others' posts, and/or to follow others, one should get registration approval from the admin</li>
            <li>It may take up to 1-2 days to get approval from the admin (who only checks if the new user is a bot)</li>
          </ul>
        </li>
        <li><p>One can create own cards</p>
          <ul>
            <li>Cards are like folders as a card include posts</li>
            <li>There are also public cards that are created by the admin</li>
            <li>One can link public cards to &quot;his/her own cards&quot; and publish one's own posts into the public cards</li>
          </ul>
        </li>
        <li><p>One can create posts under each card according to the subject of the card</p>
          <ul>
            <li>Post consists of main text, at most 1 image, multiple hash tags</li>
            <li>Title is not required</li>
            <li>Posts in an linked card can be published and others can comment on them</li>
            <li>Posts in one's own cards can also be published to &quot;for-all-topic public card&quot;</li>
          </ul>
        </li>
        <li><p>One can import specific posts in public cards.</p>
          <ul>
            <li>Posts will be imported to either linked cards or for-all-topic private card</li>
          </ul>
        </li>
        <li><p>Search function is provided</p>
          <ul>
            <li>Search by card title, tags, contents, and/or author</li>
          </ul>
        </li>
      </ol>
      <hr />
      <h3 id="issuetrackers-next-steps">IssueTracker's next steps</h3>
      <ol>
        <li><p>Enhance security</p>
          <ul>
            <li>IssueTracker uses django engine, and basic security functions are already implemented</li>
            <li>Enhanced security will be provided through content encryption and separation of database/model, etc</li>
          </ul>
        </li>
        <li><p>Allow following between users</p>
          <ul>
            <li>Following by each card and/or all cards to automatically will be implemented</li>
          </ul>
        </li>
        <li><p>IssueTracker will be a platform, and various apps will be available for users to install</p>
          <ul>
            <li>For example, time-tracking and visualization app for a certain tag</li>
            <li>Tracking a dazim(one's goal in Korean) for oneself and others' to comment and encourage</li>
            <li>Tracking, analysis, and visualization app for various external datas (e.g., economic data)</li>
          </ul>
        </li>
      </ol>
      <hr />
      <p><em>IssueTracker is currently under development as beta version</em></p>
    </div>
    
    <div class="col-md-6">
      <h3 id="goal-of-the-issuetracker">IssueTracker 지향점</h3>
      <p>IssueTracker는 다양한 내 삶의 Issue들을 Tracking하는 공간입니다. “남&quot;보다는 &quot;나&quot;에게 초점이 맞추어져 있습니다.</p>
      <p>우리는 시간이 흐르면서 삶의 단계가 높아져 감에 따라, 환경/직업/관심/인간관계가 변하게 되고, 책임/권한/의무가 변하게 되고, 알고있는 것/믿고있는 것/생각하는 방식이 달라지게 되며, 수없이 많은 생각들을 하고 흘려 보내고 있습니다.</p>
      <p>IssueTracker는 과거의 현명한 나를 기록하는데 도움을 주고자 하고, 과거와 현재의 내가 상호소통 하는데, 그리고 현재의 내가 진보해 나가는데 도움을 주고자 하는 “나”를 위한 곳입니다.</p>
      <p>그러나, 내가 원할 경우 남의 도움을 받을 수 있고, 남을 통해 동기부여를 받을 수 있고, 나도 도움/관심을 필요로 하는 남을 도울 수 있습니다. 이러한 모든 과정은 다음과 같은 간단한 방식을 통해 이루어집니다.</p>
      <hr />
      <h3 id="issuetracker-key-features">IssueTracker의 핵심 기능</h3>
      <ol>
        <li><p>“나”를 위한 공간이므로, Registration 및 Log-in이 필요합니다.</p>
          <ul>
            <li>Registration 시에 IssueTracker를 바로 이용 가능합니다.</li>
            <li>다만, 나의 글(Post)을 Publish하거나, 남의 글을 Import하거나, 남의 글에 Comment 하거나, 남을 Follow 하기 위해서는 관리자의 Approve가 필요합니다.</li>
            <li>관리자의 Approve는 최대 약 1-2일 소요됩니다. (Bot인지 아닌지만 점검합니다.)</li>
          </ul>
        </li>
        <li><p>“나”만의 Card를 만들 수 있습니다.</p>
          <ul>
            <li>카드는 폴더와 같습니다. 카드안에 많은 글들이 들어가게 됩니다.</li>
            <li>IssueTracker 관리자는 Public Card를 만들고 관리합니다.</li>
            <li>“나”는 Public Card와 같은 Card를 만드는 경우(Card Linking), 그 안의 Post들을 Publish 할 수 있습니다.</li>
          </ul>
        </li>
        <li><p>Card의 주제에 맞는 Post를 작성하고 관리할 수 있습니다.</p>
          <ul>
            <li>Post는 본문과, Image (최대1개), Hash Tag로 구성됩니다.</li>
            <li>제목은 쓰지 않습니다.</li>
            <li>Imported Card안의 Post들은 Publish가 가능합니다. Publish되면, Public Card안에 Post가 보여지게 되고, 동시에 “남”들이 글에 Comment할 수 있습니다.</li>
            <li>나만의 Card안의 글들은 For-all-topic Public Card로 Publish가 됩니다.</li>
          </ul>
        </li>
        <li><p>Public Card안의 Post들을 Import 가능합니다.</p>
          <ul>
            <li>Public Card안의 Post를 IMport할 경우, For-all-topic Private Card 또는 Linked Card로 해당 Post가 보여지게 됩니다.</li>
          </ul>
        </li>
        <li><p>Search기능을 제공합니다.</p>
          <ul>
            <li>Card, Tag, Author, 본문 내용 등을 통해 입체적으로 Search합니다.</li>
          </ul>
        </li>
      </ol>
      <hr />
      <h3 id="issuetrackers-next-steps">IssueTracker의 향후 개발 목표 기능</h3>
      <ol>
        <li><p>보안을 강화할 예정입니다.</p>
          <ul>
            <li>Django Engine을 사용하며, 기본적인 보안 기능이 있습니다. 향후 암호화 등 개인 글에 대한 보안을 최우선적으로 강화하도록 하겠습니다.</li>
          </ul>
        </li>
        <li><p>사용자들간 Follow기능을 추가할 예정입니다.</p>
          <ul>
            <li>Card별로 Follow하거나, 모든 Card를 Follow하여, Follow하는 사람이 글을 올릴 경우 자동으로 Import되도록 합니다.</li>
          </ul>
        </li>
        <li><p>다양한 App기능을 추가할 예정입니다. 사용자별로 선택 설치 할 수 있습니다.</p>
          <ul>
            <li>Tag에 대한 Time-Tracking 및 Visualization 기능</li>
            <li>Dazim(목표)에 대한 Tracking 및 격려/관심 기능</li>
            <li>경제지표등 각종 외부 데이터 등의 편리하게 볼 수 있는 Tracking, Analysis, Visualization 기능 등…</li>
          </ul>
        </li>
      </ol>
      <hr />
      <p><em>IssueTracker는 현재 Beta버전 입니다.</em></p>
    </div>
  </div>
</div>

{% endblock content %}
